.wp-block-landing-about-team {
	background: #6d6e8a;
	padding: 40px;
	color: #ffffff;
	font-size: 24px;
	text-align: center;
	font-weight: bold;
	position: relative;
}

.wp-block-landing-about-team::before {
	content: 'Лендинг блок';
	position: absolute;
	left: 10px;
	top: 10px;
	font-size: 14px;
	font-weight: normal;
}
