.wp-block-content-scheme {
	background: #2196f3;
	padding: 40px;
	color: #ffffff;
	font-size: 24px;
	text-align: center;
	font-weight: bold;
	position: relative;
}

.wp-block-content-scheme::before {
	content: 'Контент блок';
	position: absolute;
	left: 10px;
	top: 10px;
	font-size: 14px;
	font-weight: normal;
}
