.additional-services {
    background-color: #363941;
    padding-top: 93px;
    padding-bottom: 104px;
    @media (max-width: $breakpoint-small-max) {
        padding-top: 43px;
        padding-bottom: 40px;
    }
    @media (max-width: $breakpoint-xsmall-max) {
        padding-top: 62px;
        padding-bottom: 72px;
    }
}

.additional-services__title {
    color: #ffffff;
    font-family: "Next Art", sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    &::after {
        content: '';
        display: block;
        width: 111px;
        height: 3px;
        background-color: #ffffff;
        margin: 25px auto 0;
    }
    @media (max-width: $breakpoint-small-max) {
        font-size: 16px;
        &::after {
            width: 58px;
            height: 2px;
            margin-top: 18px;
        }
    }
    @media (max-width: $breakpoint-xsmall-max) {
        font-size: 18px;
        &::after {
            width: 64px;
            height: 3px;
            margin-top: 18px;
        }
    }
}

.additional-services__list {
    display: flex;
    justify-content: space-between;
    margin-top: 61px;
    @media (max-width: $breakpoint-small-max) {
        margin-top: 33px;
    }
    @media (max-width: $breakpoint-xsmall-max) {
        flex-wrap: wrap;
        margin-top: 20px;
    }
}

.additional-services-item {
    display: block;
    text-decoration: none;
    width: 12.5%;
    padding: 0 5px;
    &:hover {
        .additional-services-item__name {
            background-color: #ed3947;
        }
        .additional-services-item__image {
            background-color: #545965;
            &::after {
                border-top-color: #545965;
            }
        }
    }
    @media (max-width: $breakpoint-xsmall-max) {
        width: 50%;
        margin-top: 22px;
    }
}

.additional-services-item__image {
    width: 123px;
    max-width: 100%;
    display: block;
    margin: 0 auto;
    position: relative;
    span {
        display: block;
        padding-bottom: 100%;
    }
    svg {
        fill: rgb(255, 255, 255);
    }
    svg,
    img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: auto;
        height: auto;
        max-height: 60%;
        max-width: 60%;
    }
    &::after {
        content: '';
        position: absolute;
        left: 50%;
        top: 100%;
        transform: translateX(-50%);
        border-style: solid;
        border-width: 10px 10px 0;
        border-color: transparent;
    }
    @media (max-width: $breakpoint-small-max) {
        width: 75px;
        &::after {
            border-width: 6px 6px 0;
        }
    }
    @media (max-width: $breakpoint-xsmall-max) {
        width: 98px;
        &::after {
            display: none;
        }
    }
}

.additional-services-item__name {
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    border-radius: 20px;
    text-align: center;
    display: block;
    padding: 0 10px;
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
    @media (max-width: $breakpoint-small-max) {
        font-size: 11px;
        min-height: 36px;
        border-radius: 18px;
        margin-top: 9px;
    }
    @media (max-width: $breakpoint-xsmall-max) {
        font-size: 16px;
        margin-top: 6px;
    }
}
