.content-scrollable {
  position: relative;
  overflow: auto;
  max-height: 300px;
}

.content-scrollable::-webkit-scrollbar {
  width: 12px;
}

.content-scrollable::-webkit-scrollbar-track {
  background: #ffffff;
}

.content-scrollable::-webkit-scrollbar-thumb {
  background-color: #6b6d89;
  border-radius: 20px;
  border: 3px solid #ffffff; 
}
