.conversion__btn {
  position: fixed;
  z-index: 198;
  right: 40px;
  bottom: 40px;
  width: 56px;
  height: 56px;
  display: block;
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
  transition: 0.5s ease;
  border-radius: 50%;
}

.conversion__btn-close {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: #fff;
  opacity: 0;
  transition: 0.5s ease;
}

.conversion.opened .conversion__btn-close {
  opacity: 1;
}

.conversion__btn:has([data-conversion-btn-icon="email"].active) {
  background: #1f81ff;
}

.conversion__btn:has([data-conversion-btn-icon="phone"].active) {
  background: #d52437;
}

.conversion__btn:has([data-conversion-btn-icon="max"].active) {
  // background: radial-gradient(
  //   136.12% 140.74% at 99.77% 99.04%,
  //   #8d28c8,
  //   #7c42fa 20%,
  //   #007aff 80%,
  //   #609ceb
  // );
  background: #7c42fa;
}

.conversion__btn:has([data-conversion-btn-icon="telegram"].active) {
  background: #0088cc;
}

.conversion__btn:has([data-conversion-btn-icon="whatsapp"].active) {
  background: #128c7e;
}

.conversion__btn:has([data-conversion-btn-icon="vk"].active) {
  background: #0077ff;
}

.conversion.opened .conversion__btn {
  background: #0a0a0b;
}

.conversion__btn-icon {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: #fff;
  opacity: 0;
  transition: 0.5s ease;
}

.conversion__btn-icon.show {
  opacity: 1;
}

.conversion.opened .conversion__btn-icon.show {
  opacity: 0;
}

.conversion__btn-wave {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 100%;
  height: 100%;
  border: 2px solid transparent;
  transition: 0.5s ease;
  border-radius: 50%;
  opacity: 0.8;
  animation: conversion-wave 2s infinite cubic-bezier(0.37, 0, 0.8, 0.77);
}

.conversion.opened .conversion__btn-wave {
  opacity: 0;
}

@keyframes conversion-wave {
  100% {
    width: 200%;
    height: 200%;
    border-color: #fff0;
    opacity: 0;
  }
}

.conversion__btn:has([data-conversion-btn-icon="email"].active)
  .conversion__btn-wave {
  border-color: #1f81ff;
}

.conversion__btn:has([data-conversion-btn-icon="phone"].active)
  .conversion__btn-wave {
  border-color: #d52437;
}

.conversion__btn:has([data-conversion-btn-icon="max"].active)
  .conversion__btn-wave {
  border-color: #8d28c8;
}

.conversion__btn:has([data-conversion-btn-icon="whatsapp"].active)
  .conversion__btn-wave {
  border-color: #128c7e;
}

.conversion__btn:has([data-conversion-btn-icon="telegram"].active)
  .conversion__btn-wave {
  border-color: #0088cc;
}

.conversion__btn:has([data-conversion-btn-icon="vk"].active)
  .conversion__btn-wave {
  border-color: #0077ff;
}

.conversion__container {
  position: fixed;
  z-index: 97;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.conversion.opened .conversion__container {
  display: block;
}

.conversion__backdrop {
  position: absolute;
  z-index: 98;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0a0a0b;
  opacity: 0.75;
}

.conversion__content {
  position: absolute;
  z-index: 101;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  max-width: 440px;
}

.conversion__content-backdrop {
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255 255 255 / 0.5);
  backdrop-filter: blur(20px);
}

.conversion__content-inner {
  position: relative;
  z-index: 102;
  width: 100%;
  height: 100%;
  padding: 110px 40px 150px 40px;
}

.conversion__content-scroller {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.conversion__content-container {
  display: table;
  width: 100%;
  height: 100%;
}

.conversion__content-container-inner {
  display: table-cell;
  vertical-align: bottom;
  width: 100%;
}

.conversion__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}

.conversion__item {
  background-color: #303336;
  padding: 16px;
  border-radius: 12px;
}

.conversion__item--wide {
  grid-column: span 2;
}

.conversion__item-title {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.conversion__item-title span {
  opacity: 0.6;
  display: block;
  width: 100%;
}

.conversion__item-content {
  margin-top: 16px;
  overflow: hidden;
  display: flex;
  gap: 12px;
}

.conversion__item-btn {
  border-radius: 50%;
  transition: all 0.3s;
  width: 56px;
  height: 56px;
  background: #0a0a0b;
  color: #fff;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.conversion__item-btn:hover {
  background-color: #fff;
  color: #0a0a0b;
}

.conversion__item-btn--phone-call {
  background: #35c759;
}

.conversion__item-btn--phone-call:hover {
  color: #35c759;
}

.conversion__item-btn--phone-back {
  background: #7f58ff;
}

.conversion__item-btn--phone-back:hover {
  color: #7f58ff;
}

.conversion__item-btn--calc {
  background: #009bb2;
  font-size: 36px;
}

.conversion__item-btn--calc:hover {
  color: #009bb2;
}

.conversion__item-btn--max {
  background: #7c42fa;
}

.conversion__item-btn--max:hover {
  color: #7c42fa;
}

.conversion__item-btn--telegram {
  background: #0088cc;
}

.conversion__item-btn--telegram:hover {
  color: #0088cc;
}

.conversion__item-btn--whatsapp {
  background: #128c7e;
}

.conversion__item-btn--whatsapp:hover {
  color: #128c7e;
}

.conversion__item-btn--vk {
  background: #0077ff;
}

.conversion__item-btn--vk:hover {
  color: #0077ff;
}

@media (max-width: 479px) {
  .conversion__content-backdrop {
    background-color: rgb(255 255 255 / 0.35);
  }
  .conversion__backdrop {
    display: none;
  }
  .conversion__content {
    max-width: 100%;
  }
  .conversion__content-scroller {
    max-width: 370px;
    left: 50%;
    transform: translateX(-50%);
  }
  .conversion__btn {
    bottom: 16px;
    right: 16px;
  }
  .conversion__content-inner {
    padding: 80px 16px 120px 16px;
  }
}

@media (max-width: 375px) {
  .conversion__item-title {
    font-size: 14px;
    line-height: 18px;
  }
  .conversion__item-btn {
    width: 48px;
    height: 48px;
  }
}

@media (max-width: 350px) {
  .conversion__item-title {
    font-size: 13px;
  }
}
