.conversion__btn {
  position: fixed;
  z-index: 198;
  right: 40px;
  bottom: 40px;
  width: 56px;
  height: 56px;
  border: none;
  padding: 0;
}

.conversion__btn-toggler {
  position: relative;
  display: block;
  width: 56px;
  height: 56px;
  border: none;
  padding: 0;
  border-radius: 50%;
  background-color: #1f81ff;
}

.conversion__btn-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 56px;
  height: 56px;
}

.conversion__btn-close {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  width: 56px;
  height: 56px;
  border-radius: 50%;
}

.conversion__btn-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  font-size: 24px;
  color: #fff;
}

.conversion__btn-icon.active {
  display: block;
}

.conversion__btn-wave {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 100%;
  height: 100%;
  border: 2px solid #fff0;
  border-radius: 50%;
  opacity: 0.8;
  animation: conversion-wave 2s infinite cubic-bezier(0.37, 0, 0.8, 0.77);
}

@keyframes conversion-wave {
  100% {
    width: 200%;
    height: 200%;
    border-color: #fff0;
    opacity: 0;
  }
}

.conversion__btn:has([data-conversion-btn-icon="blue"].active)
  .conversion__btn-toggler {
  background-color: #1f81ff;
}
.conversion__btn:has([data-conversion-btn-icon="red"].active)
  .conversion__btn-toggler {
  background-color: #d52437;
}
.conversion__btn:has([data-conversion-btn-icon="max"].active)
  .conversion__btn-toggler {
  background: radial-gradient(
    136.12% 140.74% at 99.77% 99.04%,
    #8d28c8,
    #7c42fa 20%,
    #007aff 80%,
    #609ceb
  );
}
// .conversion__btn--gray .conversion__btn-toggler {
//   background-color: #0a0a0b;
// }

.conversion__btn:has([data-conversion-btn-icon="blue"].active)
  .conversion__btn-wave {
  border-color: #1f81ff;
}
.conversion__btn:has([data-conversion-btn-icon="red"].active)
  .conversion__btn-wave {
  border-color: #d52437;
}
.conversion__btn:has([data-conversion-btn-icon="max"].active)
  .conversion__btn-wave {
  border-color: #8d28c8;
}

.conversion--active .conversion__container {
  display: block;
}

.conversion__container {
  position: fixed;
  z-index: 197;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.conversion__backdrop {
  position: absolute;
  z-index: 98;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0a0a0b;
  opacity: 0.75;
}

.conversion__content {
  position: absolute;
  z-index: 101;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  max-width: 440px;
}

.conversion__content-backdrop {
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255 255 255 / 0.5);
  backdrop-filter: blur(20px);
}

.conversion__content-inner {
  position: relative;
  z-index: 102;
  width: 100%;
  height: 100%;
  padding: 110px 40px 150px 40px;
}

.conversion__content-scroller {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.conversion__content-container {
  display: table;
  width: 100%;
  height: 100%;
}

.conversion__content-container-inner {
  display: table-cell;
  vertical-align: bottom;
  width: 100%;
}

.conversion__row {
  margin: 0 -6px;
}
.conversion__row div[class*="col-"] {
  padding: 0 6px;
}

.conversion__item {
  margin-bottom: 12px;
}
.conversion__item:nth-child(2n-1) {
  clear: both;
}
.conversion__item:nth-child(5) {
  margin-bottom: 0;
}
.conversion__item:nth-child(6) {
  margin-bottom: 0;
}

.conversion__item-inner {
  background-color: #303336;
  padding: 16px;
  border-radius: 12px;
}

.conversion__item-title {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.conversion__item-title span {
  opacity: 0.6;
  display: block;
  width: 100%;
}

.conversion__item-content {
  margin-top: 16px;
  overflow: hidden;
}

.conversion__item-content span {
  display: inline-block;
  float: left;
}

.conversion__item-content span + span {
  margin-left: 16px;
}

.conversion__item-btn {
  display: block;
  overflow: hidden;
  text-align: center;
  border-radius: 50%;
  transition: all 0.3s;
  width: 56px;
  height: 56px;
}

.conversion__item-btn i {
  line-height: 56px;
}
.conversion__item-btn:hover {
  background-color: #fff;
}

.conversion__item-btn--calculator-design,
.conversion__item-btn--form,
.conversion__item-btn--telegram {
  background-color: #1f81ff;
}

.conversion__item-btn--calculator-design:hover i,
.conversion__item-btn--form:hover i,
.conversion__item-btn--telegram:hover i {
  color: #1f81ff;
}

.conversion__item-btn--calculator-renovation,
.conversion__item-btn--email {
  background-color: #009bb2;
}

.conversion__item-btn--calculator-renovation:hover i,
.conversion__item-btn--email:hover i {
  color: #009bb2;
}

.conversion__item-btn--phone-call,
.conversion__item-btn--whatsapp {
  background-color: #35c759;
}

.conversion__item-btn--phone-call:hover i,
.conversion__item-btn--whatsapp:hover i {
  color: #35c759;
}

.conversion__item-btn--phone-back {
  background-color: #7f58ff;
}
.conversion__item-btn--phone-back:hover i {
  color: #7f58ff;
}

@media (max-width: 479px) {
  .conversion__content-backdrop {
    background-color: rgb(255 255 255 / 0.35);
  }
  .conversion__backdrop {
    display: none;
  }
  .conversion__content {
    max-width: 100%;
  }
  .conversion__content-scroller {
    max-width: 370px;
    left: 50%;
    transform: translateX(-50%);
  }
  .conversion__btn {
    bottom: 16px;
    right: 16px;
  }
  .conversion__content-inner {
    padding: 80px 16px 120px 16px;
  }
}

@media (max-width: 375px) {
  .conversion__item-title {
    font-size: 14px;
    line-height: 18px;
  }
  .conversion__item-btn {
    width: 48px;
    height: 48px;
  }
  .conversion__item-content span + span {
    margin-left: 8px;
  }
}

@media (max-width: 350px) {
  .conversion__item-title {
    font-size: 13px;
  }
}
