.news-list {
    padding: 30px 0 90px;
}

.news-list__grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -25px;
  margin-top: -25px;
}

.news-list__cell {
  width: 50%;
  padding-left: 25px;
  padding-top: 25px;
  @media (max-width: $breakpoint-small-max) {
    width: 100%;
  }
  @media (max-width: $breakpoint-xsmall-max) {
    &:last-child .news-item {
      border-bottom: none;
      padding: 0;
    }
  }
}

.news-item {
  position: relative;
  transition: box-shadow .3s ease;
  padding: 40px 50px;
  @media (max-width: $breakpoint-xsmall-max) {
    padding: 0 0 25px;
    border-bottom: 1px solid #cacaca;
  }
}

.news-item:hover {
  box-shadow: 0 0 20px 5px #ebebeb;
  @media (max-width: $breakpoint-xsmall-max) {
    box-shadow: none;
  }
}

.news-item-meta {
  display: flex;
  margin-bottom: 20px;
  @media (max-width: $breakpoint-xsmall-max) {
    margin-bottom: 10px;
  }
}

.news-item-meta {
    font-size: 12px;
    letter-spacing: 0.025em;
    color: #b6b6b6;
    max-width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    span {
        display: flex;
        align-items: center;
        font-size: 12px;
        margin-top: 0;
        text-decoration: none;
        color: #b6b6b6;
        svg {
            margin-right: 8px;
        }
        &:nth-child(2) {
            @media (max-width: $breakpoint-small-max) {
                display: none;
            }
        }
    }
}

.news-item__category {
    display: flex;
    align-items: center;
    font-size: 12px;
}

.news-item__category::before {
    display: block;
    content: '';
    width: 16px;
    height: 16px;
    padding-right: 8px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.news-item__image {
  position: relative;
  width: 100%;
}

.news-item__image::after {
  position: absolute;
  bottom: -30px;
  right: -30px;
  display: block;
  content: '';
  width: 260px;
  height: 260px;
  border: 16px solid #ededed;
  box-sizing: border-box;
  z-index: -1;
  @media (max-width: $breakpoint-xsmall-max) {
    width: 200px;
    height: 200px;
  }
}

.news-item__image img {
  width: 100%;
  height: 100%;
  display: block;
}

.news-item__title {
  margin: 20px 0 40px;
  text-decoration: none;
  color: #000;
  display: block;
  @media (max-width: $breakpoint-xsmall-max) {
    margin-bottom: 20px
  }
}

.news-item-meta .author::after,
.news-item-meta .comments::after,
.news-item__title::after,
.news-item__category::after {
    display: none;
}

.news-item__title h3 {
  font-size: 26px;
  font-family: "Next Art Bold", sans-serif;
  line-height: 1.15;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  @media (max-width: $breakpoint-xsmall-max) {
    font-size: 20px;
  }
}

.news-item__title:hover h3 {
    color: #f9152e;
}

.news-item__title hr {
    width: 68px;
    height: 3px;
    margin-top: 15px;
    border: none;
    background-color: #cacaca;
}

.news-item__title:hover hr {
    background-color: #f9152e;
}

.news-item__desc {
  @media (max-width: $breakpoint-xsmall-max) {
    font-size: 16px;
  }
}

.news-item__more {
  display: block;
  width: fit-content;
  margin-top: 40px;
  font-size: 16px;
  color: #297780;
  @media (max-width: $breakpoint-xsmall-max) {
    margin-top: 20px
  }
}

.news-item__more:hover {
    color: #20a8ff;
}

.news-item__more::after {
    content: ' \2192';
}

.news-item__category {
    position: absolute;
    left: -95px;
    bottom: 60px;
    margin-top: 0;
    font-size: 12px;
    letter-spacing: 0.025em;
    text-transform: uppercase;
    color: #b6b6b6;
    transform: rotate(-90deg);
    a {
        color: inherit;
        text-decoration: none;
    }
}

.news-item__category:hover {
    color: #f9152e;
}

.news-item__category::before {
background-image: url(../img/rubrika.png);
}

.news-item__category:hover::before {
    background-image: url(../img/rubrika-hover.png);
}
