@import 'variables.scss';

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

svg {
    fill: currentColor;
}

body {
    background-color: #fff;
    font-family: "Arimo", sans-serif;
    font-size: 18px;
}

img {
    -o-object-fit: contain;
       object-fit: contain;
}

.hidden\@s {
    @media (max-width: $breakpoint-xsmall-max) {
        display: none !important;
    }
}

.hidden\@m {
    @media (max-width: $breakpoint-small-max) {
        display: none !important;
    }
}

.hidden\@l {
    @media (max-width: $breakpoint-medium-max) {
        display: none !important;
    }
}

.hidden\@xl {
    @media (max-width: $breakpoint-large-max) {
        display: none !important;
    }
}

.btn-arrow {
    display: inline-block;
    text-decoration: none;
    border: 2px solid #ed3947;
    background-color: #f2f2f2;
    color: #ffffff;
    font-family: "Next Art", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 44px;
    border-radius: 24px;
    text-transform: uppercase;
    letter-spacing: 0.4px;
    padding-left: 32px;
    padding-right: 70px;
    cursor: pointer;
    background: transparent;
    position: relative;
    &::before {
        content: '';
        right: 53px;
        top: 0;
        height: 100%;
        position: absolute;
        width: 2px;
        background: #ed3947;
    }
    &::after {
        content: '';
        width: 8px;
        height: 8px;
        position: absolute;
        right: 25px;
        top: 50%;
        transform: translateY(-50%) rotate(-45deg);
        border-right: 2px solid currentColor;
        border-bottom: 2px solid currentColor;
    }
    &:hover {
        background-color: rgba(237, 57, 72, .8);
    }
    @media (max-width: $breakpoint-xsmall-max) {
        font-size: 14px;
        border-width: 1px;
        line-height: 40px;
        padding-left: 28px;
        padding-right: 55px;
        &::before {
            right: 36px;
            width: 1px;
        }
        &::after {
            width: 6px;
            height: 6px;
            right: 19px;
        }
    }
}

.btn-plus {
    display: inline-block;
    text-decoration: none;
    border: 2px solid #bcbcbc;
    background-color: #f2f2f2;
    color: #000000;
    font-family: "Next Art", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 44px;
    border-radius: 24px;
    text-transform: uppercase;
    letter-spacing: 0.4px;
    padding-left: 32px;
    padding-right: 70px;
    cursor: pointer;
    background: transparent;
    position: relative;
    &::before {
        content: '';
        right: 53px;
        top: 0;
        height: 100%;
        position: absolute;
        width: 2px;
        background: #bcbcbc;
    }
    &::after {
        content: "";
        width: 2px;
        height: 2px;
        position: absolute;
        right: 27px;
        top: 50%;
        margin-top: -1px;
        background: currentColor;
        box-shadow: 2px 0px 0 0px currentColor, 4px 0px 0 0px currentColor, 6px 0px 0 0px currentColor, -2px 0px 0 0px currentColor, -4px 0px 0 0px currentColor, -6px 0px 0 0px currentColor, 0 -2px 0 0px currentColor, 0 -4px 0 0px currentColor, 0 -6px 0 0px currentColor, 0 2px 0 0px currentColor, 0 4px 0 0px currentColor, 0 6px 0 0px currentColor;
    }
    &:hover {
        background-color: #d7d7d7;
    }
    &:active {
        color: #fff;
        background-color: #adadad;
    }
    @media (max-width: $breakpoint-xsmall-max) {
        font-size: 14px;
        border-width: 1px;
        line-height: 40px;
        padding-left: 28px;
        padding-right: 55px;
        &::before {
            right: 36px;
            width: 1px;
        }
        &::after {
            right: 19px;
        }
    }
}

.wrapper {
    overflow: hidden;
    position: relative;
}

.container {
    width: $container-width + $container-padding * 2;
    margin: 0 auto;
    padding: 0 $container-padding;
    max-width: 100%;
    &_alt {
        width: $container-width-alt + $container-padding * 2;
    }
    &_tiny {
        width: $container-width-tiny + $container-padding * 2;
        @media (max-width: $breakpoint-small-max) {
            padding: 0 56px;
        }
        @media (max-width: $breakpoint-xsmall-max) {
            padding: 0 10px;
        }
    }
}

.breadcrumbs {
    color: #636363;
    font-size: 12px;
    font-weight: 400;
    line-height: 18.69px;
    padding: 10px 0;
    background: #e8e8e8;
    width: 100%;
    &_absolute {
        position: absolute;
        @media (max-width: $breakpoint-small-max) {
            position: relative;
            background-color: #ffffff;
        }
    }
    &_light {
        background-color: #ffffff;
    }
    a {
        color: #868686;
        text-decoration: underline;
        &:hover {
            color: #636363;
        }
    }
    @media (max-width: $breakpoint-small-max) {
        margin: 0 -10px;
        padding: 5px 10px;
        background-color: #ffffff;
    }
    @media (max-width: $breakpoint-xsmall-max) {
        display: none;
    }
}

.breadcrumbs__separator {
    margin: 0 8px;
    display: inline-block;
    width: 7px;
    height: 6px;
    position: relative;
    &::before {
        content: '';
        height: 1px;
        width: 100%;
        position: absolute;
        left: 0;
        top: 2.5px;
        background: #9b9b9b;
    }
    &::after {
        content: '';
        height: 0;
        width: 0;
        border-left: 3px solid #9b9b9b;
        border-top: 3px solid transparent;
        border-bottom: 3px solid transparent;
        position: absolute;
        right: 0;
        top: 0;
    }
}

.page-headline {
    background: #e8e8e8;
    overflow: hidden;
}

.page-headline__title {
    color: #ffffff;
    font-family: "Next Art", sans-serif;
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.56px;
    line-height: 1;
    margin-top: 36px;
    margin-bottom: 36px;
    span {
        background-color: rgba(28, 30, 33, 0.5);
        padding: 0 5px;
    }
    @media (max-width: $breakpoint-small-max) {
        font-size: 28px;
        letter-spacing: 0.47px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    @media (max-width: $breakpoint-xsmall-max) {
        font-size: 32px;
        letter-spacing: 3.2px;
        margin-top: 9px;
        margin-bottom: 8px;
    }
}

.pagination {
    padding: 18px 0 15px;
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
}

.screen-reader-text {
    display: none;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0 200px;
}

.page-numbers {
    display: block;
    width: 54px;
    height: 54px;
    min-width: 54px;
    min-height: 54px;
    line-height: 54px;
    text-align: center;
    font-size: 16px;
    font-family: "Next Art", sans-serif;
    text-decoration: none;
    border-radius: 50%;
    color: #939393;
    &:hover {
        font-weight: 700;
        text-decoration: underline;
        color: #1d1e21;
    }
    &.current {
        background-color: #1d1e21;
        color: #ffffff;
        font-size: 26px;
        font-weight: 700;
        letter-spacing: 1.3px;
        &:hover {
            text-decoration: none;
        }
    }
}

.page-numbers.prev,
.page-numbers.next {
    color: #afafaf;
    font-family: "Next Art", sans-serif;
    font-size: 12px;
    font-weight: 300;
    line-height: 34px;
    text-transform: uppercase;
    letter-spacing: 7.1px;
    width: auto;
    height: 34px;
    min-width: initial;
    min-height: 34px;
    background-color: #1d1e21;
    border-radius: 17px;
    padding: 0 24px;
    text-decoration: none;
    position: absolute;
    &:hover {
        color: #ffffff;
    }
}

.page-numbers.prev {
    left: 18px;
    &::before {
        content: '';
        position: absolute;
        height: 1px;
        width: 22px;
        background: #707071;
        left: -15px;
        top: 50%;
        transform: translateY(-50%);
    }
    &::after {
        content: '';
        position: absolute;
        height: 10px;
        width: 10px;
        border-left: 1px solid #707071;
        border-bottom: 1px solid #707071;
        left: -15px;
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
    }
}

.page-numbers.next {
    right: 18px;
    &::before {
        content: '';
        position: absolute;
        height: 1px;
        width: 22px;
        background: #707071;
        right: -15px;
        top: 50%;
        transform: translateY(-50%);
    }
    &::after {
        content: '';
        position: absolute;
        height: 10px;
        width: 10px;
        border-right: 1px solid #707071;
        border-bottom: 1px solid #707071;
        right: -15px;
        top: 50%;
        transform: translateY(-50%) rotate(-45deg);
    }
}

.content {
    position: relative;
    padding-right: 98px;
    color: #000000;
    font-size: 18px;
    line-height: 1.45;
    @media (max-width: $breakpoint-small-max) {
        font-size: 16px;
        line-height: 1.125;
        padding-right: 0;
    }
    p {
        margin: 26px 0;
        @media (max-width: $breakpoint-small-max) {
            margin: 18px 0;
        }
    }
    a {
        color: #23a6f8;
        text-decoration: underline;
        &:hover {
            color: #ed3947;
        }
    }
    table {
        border-collapse: collapse;
        font-size: 16px;
        line-height: 1.25;
        @media (max-width: $breakpoint-small-max) {
            font-size: 14px;
            line-height: 1.286;
        }
        @media (max-width: $breakpoint-xsmall-max) {
            line-height: 1;
        }
        td {
            border-top: 1px solid #e2e2e2;
            border-bottom: 1px solid #e2e2e2;
            padding: 19px 10px;
            @media (max-width: $breakpoint-small-max) {
                padding: 5px;
            }
        }
        strong {
            color: #9c9999;
            font-size: 18px;
            font-weight: 700;
            line-height: 1.34;
            @media (max-width: $breakpoint-small-max) {
                font-size: 14px;
                line-height: 1.286;
            }
            @media (max-width: $breakpoint-xsmall-max) {
                line-height: 1;
            }
        }
        em {
            color: #999999;
        }
    }
    .wp-block-table-wrapper {
        @media (max-width: $breakpoint-xsmall-max) {
            position: relative;
            margin: 0 -10px;
            &::after {
                content: '';
                position: absolute;
                right: 0;
                top: 0;
                width: 30px;
                height: 100%;
                background: linear-gradient(to right, transparent 0%, #ffffff 100%);
            }
        }
    }
    .wp-block-table-container {
        max-width: 100%;
        overflow: auto;
    }
    h2 {
        color: #333333;
        font-family: "Next Art", sans-serif;
        font-size: 36px;
        font-weight: 700;
        line-height: 1;
        text-transform: uppercase;
        position: relative;
        margin-top: 126px;
        &::before {
            content: '';
            position: absolute;
            width: 68px;
            height: 68px;
            background-color: #bbddf1;
            top: 4px;
            left: -96px;
        }
        @media (max-width: $breakpoint-small-max) {
            font-size: 21px;
            line-height: 1.14;
            margin-top: 67px;
            &::before {
                width: 42px;
                height: 42px;
                top: 0;
                left: -49px;
            }
        }
        @media (max-width: $breakpoint-xsmall-max) {
            margin-top: 71px;
            font-size: 19px;
            margin-left: 28px;
        }
    }
    h3 {
        color: #0d0d0d;
        font-family: "Next Art", sans-serif;
        font-size: 28px;
        font-weight: 700;
        line-height: 1.07;
        text-transform: uppercase;
        margin-top: 100px;
        @media (max-width: $breakpoint-small-max) {
            font-size: 18px;
            line-height: 1.111;
            margin-top: 84px;
        }
        @media (max-width: $breakpoint-xsmall-max) {
            font-size: 17px;
            line-height: 1.176;
            margin-top: 57px;
        }
    }
    // table + h3 {
    //     margin-top: 140px;
    // }
    // ol + h3 {
    //     margin-top: 140px;
    // }
    h4 {
        color: #000000;
        font-family: "Next Art", sans-serif;
        font-size: 22px;
        font-weight: 700;
        line-height: 1.36;
        text-transform: uppercase;
        letter-spacing: 0.22px;
        margin-top: 100px;
        @media (max-width: $breakpoint-small-max) {
            font-size: 17px;
            line-height: 1.06;
            margin-top: 95px;
        }
        @media (max-width: $breakpoint-xsmall-max) {
            font-size: 15px;
            line-height: 1;
            margin-top: 64px;
        }
    }
    // table + h3 {
    //     margin-top: 128px;
    // }
    // ol + h3 {
    //     margin-top: 128px;
    // }
    h5 {
        background-color: #ffefb0;
        color: #414141;
        font-size: 20px;
        font-weight: 700;
        line-height: 1.2;
        position: absolute;
        left: 100%;
        width: 200px;
        padding: 30px 25px;
        @media (max-width: $breakpoint-small-max) {
            width: auto;
            position: relative;
            left: initial;
            padding: 12px 30px;
        }
        @media (max-width: $breakpoint-xsmall-max) {
            padding: 12px 23px;
            margin: 0 -10px;
        }
    }
    h6 {
        color: #333333;
        font-size: 14px;
        font-weight: 700;
        font-style: italic;
        line-height: 20px;
        padding: 48px 32px;
        border: 2px solid #e5e5e5;
        background-color: #f9f9f9;
        position: absolute;
        left: 100%;
        width: 200px;
        @media (max-width: $breakpoint-small-max) {
            width: auto;
            position: relative;
            left: auto;
            padding: 22px 54px;
        }
        @media (max-width: $breakpoint-xsmall-max) {
            padding: 32px 31px;
        }
    }
    .wp-block-image {
        margin-top: 38px;
        margin-bottom: 44px;
        @media (max-width: $breakpoint-xsmall-max) {
            margin-top: 20px;
            margin-bottom: 34px;
        }
    }
    ol {
        padding: 0 0 0 170px;
        margin: 70px 0;
        counter-reset: list;
        @media (max-width: $breakpoint-small-max) {
            padding-left: 110px;
        }
        @media (max-width: $breakpoint-xsmall-max) {
            padding-left: 48px;
        }
        li {
            position: relative;
            line-height: 1.12;
            margin: 30px 0;
            list-style: none;
            @media (max-width: $breakpoint-xsmall-max) {
                margin: 20px 0;
            }
            &::before {
                counter-increment: list;
                content: counter(list);
                position: absolute;
                width: 33px;
                height: 33px;
                box-sizing: border-box;
                background-color: #ffffff;
                border: 4px solid #ededed;
                top: 0;
                left: -53px;
                color: #bcbcbc;
                font-family: "Next Art", sans-serif;
                font-size: 20px;
                font-weight: 700;
                line-height: 1;
                padding-left: 12px;
                padding-top: 6px;
                @media (max-width: $breakpoint-small-max) {
                    left: -48px;
                }
            }
        }
    }
    ul {
        padding: 0;
        margin: 50px 0;
        line-height: 1.111;
        li {
            position: relative;
            padding-left: 60px;
            margin: 20px 0;
            list-style: none;
            &::before {
                content: '';
                position: absolute;
                left: 2px;
                top: 2px;
                width: 32px;
                height: 32px;
                border: 2px solid #bcbcbc;
                background-color: transparent;
                border-radius: 50%;
            }
            &::after {
                content: '';
                position: absolute;
                top: 16px;
                left: 14px;
                width: 9px;
                height: 3px;
                border-left: 3px solid #bcbcbc;
                border-bottom: 3px solid #bcbcbc;
                transform: rotate(-45deg);
            }
        }
        @media (max-width: $breakpoint-xsmall-max) {
            margin: 40px 0;
            li {
                padding-left: 48px;
                &::before {
                    width: 24px;
                    height: 24px;
                }
                &::after {
                    top: 13px;
                    left: 11px;
                    width: 8px;
                    height: 2px;
                }
            }
        }
    }
}

@media (min-width: $breakpoint-small) {
    .repairs {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 50px;
        margin-bottom: 50px;
        .content & {
            width: calc(100vw - 20px);
            left: calc(50% + 50px);
            transform: translateX(-50%);
            position: relative;
            max-width: 1150px;
            @media (max-width: $breakpoint-small-max) {
                left: 50%;
            }
        }
    }

    .repairs-item {
        width: calc(33.33% - 20px);
        @media (max-width: $breakpoint-small-max) {
            width: calc(33.33% - 8px);
        }
    }

    .repairs-item__image {
        border: 20px solid #ededed;
        transition: border-color .3s ease;
        cursor: pointer;
        &:hover {
            border-color: #c6c6c6;
        }
        @media (max-width: $breakpoint-small-max) {
            border-width: 15px;
        }
    }

    .repairs-item__image-inner {
        padding-bottom: 100%;
        position: relative;
        img {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            max-width: 60%;
            max-height: 60%;
        }
    }

    .repairs-item__title {
        display: flex;
        justify-content: center;
        margin-top: 30px;
        @media (max-width: $breakpoint-small-max) {
            margin-top: 10px;
        }
    }

    .repairs-item__title-inner {
        color: #ffffff;
        font-family: "Next Art", sans-serif;
        font-size: 22px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.95px;
        text-align: center;
        padding: 0 3px;
        line-height: 42px;
        position: relative;
        cursor: pointer;
        > span {
            position: relative;
            z-index: 20;
        }
        &::before {
            content: '';
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 0;
            height: 100%;
            width: 100%;
            transition: .3s ease;
            background: #ed3947;
            transition-property: width, background;
        }
        &:hover {
            background: #f9152e;
            &::before {
                width: calc(100% + 50px);
            }
        }
        @media (max-width: $breakpoint-small-max) {
            line-height: 20px;
            font-size: 14px;
            &:hover {
                &::before {
                    width: calc(100% + 30px);
                }
            }
        }
    }
}
@media (max-width: $breakpoint-xsmall-max) {
    .repairs {
        margin: 20px 0;
    }

    .repairs-item {
        margin-top: 8px;
        border: 6px solid #ededed;
        display: flex;
        align-items: center;
        &:hover {
            border-color: #c6c6c6;
        }
    }

    .repairs-item__image {
        min-width: 103px;
    }

    .repairs-item__image-inner {
        padding-bottom: 100%;
        position: relative;
        img {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            max-width: 60%;
            max-height: 60%;
        }
    }

    .repairs-item__title {
        color: #ffffff;
        font-family: "Next Art", sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1;
        text-transform: uppercase;
        letter-spacing: 0.78px;
    }

    .repairs-item__title-inner {
        display: inline;
        background: #ed3947;
    }
}

/* Якорь */
#anchor {
    position: absolute;
    top: 0;
}

/* Кнопка "Больше работ */

.more-btn,
.btn-see-review {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: 48px;
    margin: -10px auto 0;
    text-decoration: none;
}

.more-btn p,
.btn-see-review p {
    width: 188px;
    height: 100%;
    padding-left: 32px;
    border: 2px solid #ed3947;
    border-right: 1px solid #ed3947;
    border-top-left-radius: 22px;
    border-bottom-left-radius: 22px;
    line-height: 42px;
    letter-spacing: 0.025em;
    font-family: "Next Art", sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #fff;
}

.more-btn span,
.btn-see-review span {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 56px;
    height: 100%;
    border: 2px solid #ed3947;
    border-left: 1px solid #ed3947;
    border-top-right-radius: 22px;
    border-bottom-right-radius: 22px;
}

.more-btn span::before,
.more-btn span::after,
.btn-see-review span::before,
.btn-see-review span::after {
    position: absolute;
    left: 20px;
    display: block;
    content: "";
    width: 8px;
    height: 2px;
    background-color: #fff;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.more-btn span::before,
.btn-see-review span::before {
    top: calc(50% - 4px);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}

.more-btn span::after,
.btn-see-review span::after {
    top: calc(50% + 1px);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

.more-btn:hover p,
.more-btn:hover span {
    background-color: #bb333e;
}
/* Прокрутка вверх страницы */
.scroll-up {
    display: none;
    position: fixed;
    width: 60px;
    height: 60px;
    top: 148px;
    right: 80px;
    background-color: rgba(204, 204, 204, 0.8);
    border-radius: 50%;
    z-index: 10;
}

.scroll-up:hover {
    background-color: rgba(161, 161, 161, 0.8);
}

.scroll-up::before,
.scroll-up::after {
    position: relative;
    display: block;
    content: '';
    width: 20px;
    height: 2px;
    background-color: #fff;
}

.scroll-up::before {
    top: 27px;
    left: 13px;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

.scroll-up::after {
    top: 24px;
    left: 27px;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}

.section-title {
    text-align: center;
    font-size: 24.25px;
    font-family: "Next Art", sans-serif;
    font-weight: bold;
    padding-bottom: 25px;
    letter-spacing: 0.05em;
}

.section-hr {
    width: 111px;
    height: 3px;
    border: none;
    background-color: #ff394f;
    margin: 0 auto;
}

/* Arrows */
.completed-objects .swiper-button-next,
.completed-objects .swiper-button-prev,
.feedback-img-gallery-container .swiper-button-next,
.feedback-img-gallery-container .swiper-button-prev,
.package-completed-objects .swiper-button-next,
.package-completed-objects .swiper-button-prev,
.project-swiper .swiper-container.gallery-top .swiper-button-next,
.project-swiper .swiper-container.gallery-top .swiper-button-prev,
.detailed-view .swiper-button-next,
.detailed-view .swiper-button-prev {
    background-image: none;
    top: 22px;
    right: 0;
    width: 29px;
    height: 28px;
    -webkit-transform: translate(0);
        -ms-transform: translate(0);
            transform: translate(0);
    background-color: transparent;
    border: 2px solid #bcbcbc;
    border-left: 1px solid #bcbcbc;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
}

.completed-objects .swiper-button-next:hover,
.completed-objects .swiper-button-prev:hover,
.feedback-img-gallery-container .swiper-button-next:hover,
.feedback-img-gallery-container .swiper-button-prev:hover,
.package-completed-objects .swiper-button-next:hover,
.package-completed-objects .swiper-button-prev:hover,
.project-swiper .swiper-container.gallery-top .swiper-button-next:hover,
.project-swiper .swiper-container.gallery-top .swiper-button-prev:hover,
.detailed-view .swiper-button-next:hover,
.detailed-view .swiper-button-prev:hover {
    background: #acadad;
}

.completed-objects .swiper-button-prev,
.feedback-img-gallery-container .swiper-button-prev,
.package-completed-objects .swiper-button-prev,
.project-swiper .swiper-container.gallery-top .swiper-button-prev,
.detailed-view .swiper-button-prev {
    left: unset;
    right: 29px;
    border-right: 1px solid #bcbcbc;
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.completed-objects .swiper-button-disabled,
.feedback-img-gallery-container .swiper-button-disabled,
.package-completed-objects .swiper-button-disabled,
.project-swiper .swiper-container.gallery-top .swiper-button-disabled,
.detailed-view .swiper-button-disabled {
    opacity: 1 !important;
}

.completed-objects .swiper-button-prev::before,
.completed-objects .swiper-button-prev::after,
.feedback-img-gallery-container .swiper-button-prev::before,
.feedback-img-gallery-container .swiper-button-prev::after,
.package-completed-objects .swiper-button-prev::before,
.package-completed-objects .swiper-button-prev::after,
.completed-objects .swiper-button-next::before,
.completed-objects .swiper-button-next::after,
.feedback-img-gallery-container .swiper-button-next::before,
.feedback-img-gallery-container .swiper-button-next::after,
.package-completed-objects .swiper-button-next::before,
.package-completed-objects .swiper-button-next::after,
.project-swiper .swiper-container.gallery-top .swiper-button-next::before,
.project-swiper .swiper-container.gallery-top .swiper-button-prev::before,
.project-swiper .swiper-container.gallery-top .swiper-button-next::after,
.project-swiper .swiper-container.gallery-top .swiper-button-prev::after,
.detailed-view .swiper-button-next::before,
.detailed-view .swiper-button-prev::before,
.detailed-view .swiper-button-next::after,
.detailed-view .swiper-button-prev::after {
    width: 8px;
    height: 2px;
    left: 10px;
}

.completed-objects .swiper-button-prev::before,
.feedback-img-gallery-container .swiper-button-prev::before,
.project-swiper .swiper-container.gallery-top .swiper-button-prev::before,
.detailed-view .swiper-button-prev::before {
    top: calc(50% - 4px);
}

.completed-objects .swiper-button-prev::after,
.feedback-img-gallery-container .swiper-button-prev::after,
.project-swiper .swiper-container.gallery-top .swiper-button-prev::after,
.detailed-view .swiper-button-prev::after {
    top: calc(50% + 1px);
}

.completed-objects .swiper-button-next::before,
.feedback-img-gallery-container .swiper-button-next::before,
.project-swiper .swiper-container.gallery-top .swiper-button-next::before,
.detailed-view .swiper-button-next::before {
    top: calc(50% - 4px);
}

.completed-objects .swiper-button-next::after,
.feedback-img-gallery-container .swiper-button-next::after,
.project-swiper .swiper-container.gallery-top .swiper-button-next::after,
.detailed-view .swiper-button-next::after {
    top: calc(50% + 1px);
}

/* Экран "Схема работы" */
.scheme-of-work {
    padding: 70px 0;
    background-color: #ed3947;
}

.scheme-of-work__title {
    color: #ffffff;
    font-family: "Next Art", sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 15px;
    @media (max-width: $breakpoint-medium-max) {
        font-size: 16px;
    }
    @media (max-width: $breakpoint-xsmall-max) {
        font-size: 18px;
        margin-bottom: 18px;
    }
}

.scheme-of-work .section-hr {
    background-color: #fff;
}

.scheme-of-work-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 100px;
    max-width: 100%;
    @media (max-width: $breakpoint-medium-max) {
        padding-top: 55px;
    }
    @media (max-width: $breakpoint-small-max) {
        padding-top: 25px;
    }
}

.scheme-of-work-item {
    display: inherit;
    flex-flow: column;
    align-items: center;
    width: 140px;
    @media (max-width: $breakpoint-medium-max) {
        width: 120px;
    }
    @media (max-width: $breakpoint-small-max) {
        padding-top: 30px;
        font-size: 12px;
        line-height: 1;
        width: 16.6%;
    }
    @media (max-width: $breakpoint-xsmall-max) {
        width: 50%;
    }
}

.scheme-of-work-item img {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: 130px;
}

.scheme-of-work-item p {
    padding-top: 65px;
    color: #fff;
    text-align: center;
    line-height: 23.75px;
    @media (max-width: $breakpoint-medium-max) {
        padding-top: 45px;
    }
    @media (max-width: $breakpoint-small-max) {
        padding-top: 30px;
        font-size: 12px;
        line-height: 1;
    }
    @media (max-width: $breakpoint-xsmall-max) {
        font-size: 16px;
    }
}

// .contacts-footer-form .contacts,
// .contacts-service .contacts,
// .contacts-service .service {
//     width: 560px;
//     min-height: 355px;
//     padding: 40px 65px;
//     background-color: rgba(54, 57, 65, 0.9);
//     color: #fff;
//     font-size: 16px;
// }

// .contacts-footer-form .contacts h3,
// .contacts-service .contacts h3,
// .contacts-service .service h3 {
//     padding-bottom: 40px;
//     font-family: "Next Art", sans-serif;
//     font-weight: bold;
//     font-size: 30px;
//     letter-spacing: 0.2em;
//     line-height: 24.25px;
//     text-transform: uppercase;
// }

// .contacts-footer-form .contacts .contacts-footer-form-phone,
// .contacts-service .contacts .contacts-footer-form-phone {
//     padding: 20px 0;
// }

// .contacts-footer-form .contacts .contacts-footer-form-phone a,
// .contacts-service .contacts .contacts-footer-form-phone a {
//     margin-bottom: 0;
//     letter-spacing: 0.025em;
//     text-decoration: none;
// }

// .contacts-footer-form .contacts a,
// .contacts-service .contacts a,
// .contacts-service .service a {
//     display: block;
//     width: fit-content;
//     margin-bottom: 30px;
//     color: #fff;
// }

// .contacts-service .contacts .contacts-footer-form-phone a,
// .contacts-service .service a {
//     margin-bottom: 0;
// }

// .contacts-footer-form .contacts hr,
// .contacts-service .contacts hr,
// .contacts-service .service hr {
//     width: 100%;
//     height: 1px;
//     border: none;
//     background-color: rgba(135, 146, 164, 0.16);
// }

// .contacts-footer-form .contacts p:last-child,
// .contacts-service .contacts p:last-child,
// .contacts-service .service p {
//     margin-top: 35px;
//     padding: 0 0 0 35px;
//     color: #8792a4;
//     line-height: 25px;
//     background-image: url(../img/clock.png);
//     background-repeat: no-repeat;
//     background-position-y: center;
// }

// .contacts-footer-form .contacts p:last-child span,
// .contacts-service .contacts p:last-child span {
//     padding-left: 12px;
// }

/* Поп-ап "Заказать обратный звонок" */
.pop-up-callback,
.pop-up-callback-send {
    display: none; /* Отображение поп-апов */
    position: fixed;
    top: 50%;
    left: 50%;
    /* display: flex; */
    width: 1075px;
    height: 665px;
    padding: 130px 190px 70px 125px;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background-color: #fff;
    z-index: 200;
    -webkit-box-shadow: 0 0 50px #777777;
            box-shadow: 0 0 50px #777777;
}

.pop-up-callback .pop-up-callback-img,
.pop-up-callback-send .pop-up-callback-send-our-work,
.calculate-cost-our-work {
    position: absolute;
    margin-top: 50px;
    width: 360px;
    height: 360px;
    border: 15px solid #ededed;
}

.pop-up-callback .pop-up-callback-img img,
.pop-up-callback-send .pop-up-callback-send-our-work img,
.calculate-cost-our-work img {
    position: absolute;
    left: -60px;
    top: -60px;
}

.pop-up-callback .pop-up-callback-order,
.pop-up-callback-send .pop-up-callback-send-ok,
.calculate-cost-order {
    padding-left: 390px;
}

.pop-up-callback .pop-up-callback-order h3,
.pop-up-callback-send .pop-up-callback-send-ok h3,
.calculate-cost-order h3 {
    padding-bottom: 30px;
    font-size: 30px;
    font-family: "Next Art", sans-serif;
    font-weight: bold;
    letter-spacing: 0.01em;
    line-height: 30px;
    text-transform: uppercase;
}

.pop-up-callback .pop-up-callback-order p,
.pop-up-callback-send .pop-up-callback-send-ok p,
.calculate-cost-order p {
    padding-bottom: 25px;
    font-size: 16px;
    line-height: 18px;
}

.pop-up-callback .pop-up-callback-order input,
.calculate-cost-order input {
    width: 285px;
    height: 44px;
    margin-bottom: 13px;
    padding: 16px 18px;
    border: 2px solid #6c7483;
    border-radius: 2px;
}

.pop-up-callback .pop-up-callback-order input:focus,
.calculate-cost-order input:focus {
    border: 2px solid #ffcb16;
}

.pop-up-callback .pop-up-callback-order input:invalid,
.calculate-cost-order input:invalid {
    border: 2px solid #fc3b5a;
    background-color: #fed8de;
}

.pop-up-callback .pop-up-callback-order #pop-up-agreements,
.calculate-cost-order #calculate-cost-agreements {
    display: none;
}

.pop-up-callback .pop-up-callback-order .pop-up-agreements-label,
.calculate-cost-order .calculate-cost-agreements-label {
    position: relative;
    left: 30px;    
    display: block;
    width: 250px;
    font-size: 12px;
    color: #404040;
}

.pop-up-callback .pop-up-callback-order .pop-up-agreements-label span,
.calculate-cost-order .calculate-cost-agreements-label span {
    position: absolute;
    top: 0;
    left: -30px;
    display: block;
    width: 16px;
    height: 16px;
    background-color: #fff;
    border: 1px solid #0a0f37;
    border-radius: 2px;
    cursor: pointer;
}

.pop-up-callback .pop-up-callback-order input:checked + .pop-up-agreements-label span .checked::before,
.pop-up-callback .pop-up-callback-order input:checked + .pop-up-agreements-label span .checked::after,
.calculate-cost-order input:checked + .calculate-cost-agreements-label span .checked::before,
.calculate-cost-order input:checked + .calculate-cost-agreements-label span .checked::after {
    position: relative;
    display: block;
    content: '';
    height: 3px;
    background-color: #0a0f37;
}

.pop-up-callback .pop-up-callback-order input:checked + .pop-up-agreements-label span .checked::before,
.calculate-cost-order input:checked + .calculate-cost-agreements-label span .checked::before {
    top: 7px;
    left: 1px;
    width: 6px;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}

.pop-up-callback .pop-up-callback-order input:checked + .pop-up-agreements-label span .checked::after,
.calculate-cost-order input:checked + .calculate-cost-agreements-label span .checked::after {
    top: 3px;
    left: 3px;
    width: 10px;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

.pop-up-callback .pop-up-callback-order .pop-up-agreements-label a,
.calculate-cost-order .calculate-cost-agreements-label a {
    color: #404040;
}

.pop-up-callback .pop-up-callback-order .more-btn,
.calculate-cost-order .more-btn {
    margin: 30px 0 0;
}

.pop-up-callback .pop-up-callback-order .more-btn p,
.calculate-cost-order .more-btn p {
    width: 175px;
    background-color: #d52437;
    border: 3px solid #d52437;
    line-height: 38px;
    color: #fff;
}

.pop-up-callback .pop-up-callback-order .more-btn:hover p,
.pop-up-callback .pop-up-callback-order .more-btn:hover span,
.calculate-cost-order .more-btn:hover p,
.calculate-cost-order .more-btn:hover span {
    background-color: #f9152e;
}

.pop-up-callback .pop-up-callback-order .more-btn span,
.calculate-cost-order .more-btn span {
    width: 60px;
    border: 3px solid #d52437;
    border-left: none;
}

.pop-up-callback .pop-up-callback-order .more-btn span::before,
.pop-up-callback .pop-up-callback-order .more-btn span::after,
.calculate-cost-order .more-btn span::before,
.calculate-cost-order .more-btn span::after {
    left: 24px;
    width: 12px;
    height: 3px;
    background-color: #d52437;
}

.pop-up-callback .pop-up-callback-order .more-btn:hover span::before,
.pop-up-callback .pop-up-callback-order .more-btn:hover span::after,
.calculate-cost-order .more-btn:hover span::before,
.calculate-cost-order .more-btn:hover span::after {
    left: 24px;
    width: 12px;
    height: 3px;
    background-color: #fff;
}

.pop-up-callback .pop-up-callback-order .more-btn span::before,
.calculate-cost-order .more-btn span::before {
    top: calc(50% - 5px);
}

.pop-up-callback .pop-up-callback-order .more-btn span::after,
.calculate-cost-order .more-btn span::after {
    top: calc(50% + 2px);
}

.pop-up-callback .close-pop-up,
.pop-up-callback-send .close-pop-up,
.feedback-item .close-feedback-text-full,
.feedback-img-gallery-close,
.close-overhaul,
.close-detailed-view {
    position: absolute;
    top: 40px;
    right: 40px;
    width: 70px;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.35);
    cursor: pointer;
}

.pop-up-callback .close-pop-up:hover,
.pop-up-callback-send .close-pop-up:hover,
.pop-up-callback .close-pop-up:active,
.pop-up-callback-send .close-pop-up:active,
.feedback-item .close-feedback-text-full:active,
.feedback-img-gallery-close:active,
.close-overhaul:active,
.close-detailed-view:active {
    background-color: #030303;
}

.pop-up-callback .close-pop-up::before,
.pop-up-callback .close-pop-up::after,
.pop-up-callback-send .close-pop-up::before,
.pop-up-callback-send .close-pop-up::after,
.feedback-item .close-feedback-text-full::before,
.feedback-item .close-feedback-text-full::after,
.feedback-img-gallery-close::before,
.feedback-img-gallery-close::after,
.close-overhaul::before,
.close-overhaul::after,
.close-detailed-view::before,
.close-detailed-view::after {
    position: absolute;
    display: block;
    content: '';
    width: 32px;
    height: 5px;
    background-color: #cacaca;
}

.pop-up-callback .close-pop-up::before,
.pop-up-callback-send .close-pop-up::before,
.feedback-item .close-feedback-text-full::before,
.feedback-img-gallery-close::before,
.close-overhaul::before,
.close-detailed-view::before {
    top: 32px;
    left: 19px;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

.pop-up-callback .close-pop-up::after,
.pop-up-callback-send .close-pop-up::after,
.feedback-item .close-feedback-text-full::after,
.feedback-img-gallery-close::after,
.close-overhaul::after,
.close-detailed-view::after {
    top: 32px;
    left: 19px;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}

.pop-up-callback-active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

/* Поп-ап "Заявка отправлена */
.pop-up-callback-send {
    padding: 130px 40px 70px 125px;
}

.pop-up-callback-send .pop-up-callback-send-ok {
    padding-left: 415px;
}

.pop-up-callback-send .pop-up-callback-send-ok p {
    padding-bottom: 65px;
}

.pop-up-callback-send .pop-up-callback-category-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.pop-up-callback-send .pop-up-callback-category-item {
    width: 155px;
    text-decoration: none;
    color: #000;
}

.pop-up-callback-send .pop-up-callback-category-item img {
    width: 155px;
    height: 138px;
    -o-object-fit: none;
       object-fit: none;
    border: 8px solid #ededed;
}

.pop-up-callback-send .pop-up-callback-category-item:hover img {
    border: 8px solid #c6c6c6;
}

.pop-up-callback-send .pop-up-callback-send-our-work a,
.calculate-cost-our-work a {
    position: relative;
    top: 50%;
    left: 50%;
    display: block;
    width: 190px;
    height: 52px;
    text-decoration: none;
    -webkit-transform: translate(calc(-50% - 50px), calc(-50% - 50px));
        -ms-transform: translate(calc(-50% - 50px), calc(-50% - 50px));
            transform: translate(calc(-50% - 50px), calc(-50% - 50px));
    background-color: #ed3947;
}

.pop-up-callback-send .pop-up-callback-send-our-work a:hover,
.calculate-cost-our-work .a:hover {
    width: 230px;
    background-color: #f9152e;
}

.pop-up-callback-send .pop-up-callback-send-our-work a p,
.calculate-cost-our-work a p {
    position: relative;
    left: -10px;
    top: 50%;
    width: 210px;
    color: #fff;
    font-size: 27.63px;
    text-transform: uppercase;
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%)
}

.pop-up-callback-send .pop-up-callback-send-our-work a:hover p,
.calculate-cost-our-work a:hover p {
    left: 10px;
}

.pop-up-callback-send .pop-up-callback-category-item h4 {
    padding: 10px 0 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;

}

.pop-up-callback-send .pop-up-callback-category-item h4 span:last-child {
    display: none;
}

.pop-up-callback-send .pop-up-callback-category-item:hover h4 {
    border-bottom: 3px solid #f9152e;
}

.social-hr,
.site-map-hr {
    display: none;
}

.footer .site-map-user-agreement-privacy-policy .mobile-banner {
    display: none;
}

/* Адаптивность */

/* 1200px - 1540px */
@media screen and (max-width: $breakpoint-large-max) {
    .footer .social-network {
        padding-left: 60px;
    }
    .footer .inn {
        padding-left: 80px;
    }
    .footer .yandex-statistics {
        margin-left: 120px;
    }
    .footer .site-map-user-agreement-privacy-policy {
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
    .footer .site-map-user-agreement-privacy-policy a:nth-child(3),
    .footer .site-map-user-agreement-privacy-policy a:nth-child(4) {
        margin-left: 0;
    }
}

/* 992px - 1200px */
@media screen and (max-width: $breakpoint-medium-max) { 
    main {
        margin-top: 68px;
    }
    .footer .social-network {
        padding-left: 40px;
    }
    .footer .inn {
        padding-left: 80px;
    }
    .footer .yandex-statistics {
        margin-left: 98px;
    }
    .footer .add-banner {
        display: none;
    }
    .scroll-up {
        top: 128px;
        right: 20px;
    }
    .scheme-of-work-item img {
        height: 120px;
    }
    .pop-up-callback, .pop-up-callback-send {
        width: 950px;
        height: 600px;
        padding: 90px 100px 70px 80px;
    }
    .pop-up-callback-send .pop-up-callback-send-our-work {
        width: 300px;
        height: 300px;
    }
    .pop-up-callback-send .pop-up-callback-send-ok {
        padding-left: 325px;
    }
    .pop-up-callback-send .pop-up-callback-category-item {
        width: 135px;
    }
    .pop-up-callback-send .pop-up-callback-category-item img {
        width: 135px;
        height: 135px;
    }
}

/* 768px - 992px */
@media screen and (max-width: $breakpoint-small-max) {
    .section-title {
        font-size: 16px;
        padding-bottom: 15px;
    }
    .section-hr {
        width: 64px;
        height: 3px;
    }
    .footer p {
        width: 175px;
        font-size: 12px;
        line-height: 12px;
    }
    .footer p br {
        display: none;
    }
    .footer .social-network,
    .footer .inn {
        padding-left: 25px;
    }
    .footer .social-network .vk,
    .footer .social-network .inst,
    .footer .social-network .ok {
        margin-right: 20px;
    }
    .footer .yandex-statistics {
        margin-left: 104px;
    }
    .scroll-up {
        width: 44px;
        height: 44px;
        right: 10px;
    }
    .scroll-up::before,
    .scroll-up::after {
        width: 12px;
    }
    .scroll-up::before {
        top: 20px;
        left: 13px;
    }
    .scroll-up::after {
        top: 18px;
        left: 21px;
    }
    .scheme-of-work {
        padding: 30px 0;
    }
    .scheme-of-work-item img {
        width: 70px;
        height: 80px;
    }
    .pop-up-callback,
    .pop-up-callback-send {
        width: 750px;
        height: 530px;
        padding: 55px 80px 35px 80px;
    }
    .pop-up-callback .pop-up-callback-img,
    .pop-up-callback .pop-up-callback-img img,
    .pop-up-callback-send .pop-up-callback-send-our-work,
    .pop-up-callback-send .pop-up-callback-send-our-work img {
        width: 280px;
        height: 280px;
    }
    .pop-up-callback .pop-up-callback-img img,
    .pop-up-callback-send .pop-up-callback-send-our-work img {
        left: -50px;
        top: -50px;
    }
    .pop-up-callback .pop-up-callback-order {
        padding-left: 300px;
    }
    .pop-up-callback .pop-up-callback-order h3,
    .pop-up-callback-send .pop-up-callback-send-ok h3 {
        font-size: 24px;
        line-height: 24px;
        padding-bottom: 25px;
    }
    .pop-up-callback .pop-up-callback-order p {
        font-size: 16px;
        line-height: 18px;
    }
    .pop-up-callback .pop-up-callback-order p br, .pop-up-callback-send .pop-up-callback-send-ok p br {
        display: none;
    }
    .pop-up-callback .pop-up-callback-order .more-btn {
        height: 44px;
        margin-top: 15px;
    }
    .pop-up-callback .close-pop-up,
    .pop-up-callback-send .close-pop-up,
    .feedback-img-gallery-close {
        height: 48px;
        width: 48px;
        top: 8px;
        right: 8px;
    }
    .pop-up-callback .close-pop-up::before, .pop-up-callback-send .close-pop-up::before,
    .pop-up-callback .close-pop-up::after, .pop-up-callback-send .close-pop-up::after,
    .feedback-img-gallery-close::before, .feedback-img-gallery-close::after {
        top: 22px;
        left: 9px;
    }
    .pop-up-callback-send {
        padding: 55px 50px 35px 80px;
    }
    .pop-up-callback-send .pop-up-callback-send-our-work {
        width: 250px;
        height: 250px;
        margin-top: 40px;
    }
    .pop-up-callback-send .pop-up-callback-send-our-work img {
        width: 250px;
        height: 250px;
    }
    .pop-up-callback-send .pop-up-callback-send-our-work a {
        width: 160px;
        height: 42px;
        -webkit-transform: translate(calc(-50% - 35px), calc(-50% - 35px));
            -ms-transform: translate(calc(-50% - 35px), calc(-50% - 35px));
                transform: translate(calc(-50% - 35px), calc(-50% - 35px));
    }
    .pop-up-callback-send .pop-up-callback-send-our-work a:hover {
        width: 200px;
    }
    .pop-up-callback-send .pop-up-callback-send-our-work a p {
        font-size: 24px;
    }
    .pop-up-callback-send .pop-up-callback-send-ok {
        padding-left: 270px;
        width: 620px;
    }
    .pop-up-callback-send .pop-up-callback-send-ok h3 {
        font-size: 22px;
    }
    .pop-up-callback-send .pop-up-callback-send-ok p {
        font-size: 14px;
        padding-bottom: 35px;
    }
    .pop-up-callback-send .pop-up-callback-category-item {
        width: 110px;
    }
    .pop-up-callback-send .pop-up-callback-category-item img {
        width: 110px;
        height: 110px;
    }
}

/* 576px - 768px */
@media screen and (max-width: $breakpoint-xsmall-max) {
    main {
        margin-top: 0;
    }
    .all-details .details-item,
    .complementary-services .complementary-services-list {
        width: 100% !important;
    }
    .footer .container {
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
    .footer .social-network, .footer .inn {
        padding-left: 0;
    }
    .footer .yandex-statistics {
        display: none;
    }
    .footer .site-map-user-agreement-privacy-policy a:nth-child(4) {
        width: 250px;
    }
    .pop-up-callback, .pop-up-callback-send {
        width: 475px;
        height: 455px;
        padding: 15px 15px 50px;
    }
    .pop-up-callback .pop-up-callback-img {
        display: none;
    }
    .pop-up-callback .pop-up-callback-order {
        width: 100%;
        padding-left: 0;
    }
    .pop-up-callback .pop-up-callback-order input {
        width: 100%;
    }
    .pop-up-callback .pop-up-callback-order .pop-up-agreements-label {
        left: 25px;
        width: calc(100% - 25px);
    }
    .pop-up-callback .pop-up-callback-order .pop-up-agreements-label span {
        left: -25px;
    }
    .pop-up-callback .pop-up-callback-order h3, .pop-up-callback-send .pop-up-callback-send-ok h3 {
        font-size: 18px;
        line-height: 18px;
        padding-bottom: 15px;
    }
    .pop-up-callback .pop-up-callback-order p {
        font-size: 14px;
        line-height: 14px;
    }
    .pop-up-callback .close-pop-up, .pop-up-callback-send .close-pop-up {
        right: 0;
    }
    .pop-up-callback-send {
        height: 565px;
        padding: 55px 10px 45px 15px;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .pop-up-callback-send .pop-up-callback-send-our-work {
        position: relative;
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2;
        border: none;
        margin-top: 0;
    }
    .pop-up-callback-send .pop-up-callback-send-our-work img {
        left: calc(50% - 75px);
        top: 0;
        width: 150px;
        height: 150px;
    }
    .pop-up-callback-send .pop-up-callback-send-ok {
        width: 100%;
        padding-left: 0;
        padding-bottom: 25px;
    }
    .pop-up-callback-send .pop-up-callback-send-ok h3 {
        padding-bottom: 35px;
    }
    .pop-up-callback-send .pop-up-callback-send-ok p {
        font-size: 12.9px;
        line-height: 14px;
    }
    .pop-up-callback-send .pop-up-callback-category-item {
        width: 80px;
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
    }
    .pop-up-callback-send .pop-up-callback-category-item img {
        width: 100%;
        height: 80px;
        padding: 5px;
        -o-object-fit: contain;
           object-fit: contain;
    }
    .pop-up-callback-send .pop-up-callback-category-item h4 {
        font-size: 9.97px;
    }
    .pop-up-callback-send .pop-up-callback-category-item h4 span:first-child {
        display: none;
    }
    .pop-up-callback-send .pop-up-callback-category-item h4 span:last-child {
        display: block;
    }
    .pop-up-callback-send .pop-up-callback-send-our-work a {
        width: 110px;
        height: 30px;
        -webkit-transform: translate(-50%, calc(-50% - 50px));
            -ms-transform: translate(-50%, calc(-50% - 50px));
                transform: translate(-50%, calc(-50% - 50px));
    }
    .pop-up-callback-send .pop-up-callback-send-our-work a:hover {
        width: 130px;
    }
    .pop-up-callback-send .pop-up-callback-send-our-work a p {
        font-size: 13.58px;
        font-weight: bold;
        left: 1px;
        line-height: 0.05em;
    }
}

/* 320px - 576px */
@media screen and (max-width: 576px) {
    .scheme-of-work {
        padding: 60px 0 45px;
    }
    .footer .social-network {
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1;
    }
    .social-hr {
        display: block;
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2;
    }
    .footer p {
        width: 130px;
        -webkit-box-ordinal-group: 4;
            -ms-flex-order: 3;
                order: 3;
    }
    .footer .inn {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        width: 150px;
        -webkit-box-ordinal-group: 5;
            -ms-flex-order: 4;
                order: 4;
    }
    .footer .inn p {
        width: 160px;
        font-size: 11.5px;
        text-align: right;
    }
    .footer hr {
        -webkit-box-ordinal-group: 6;
            -ms-flex-order: 5;
                order: 5;
    }
    .footer .site-map-user-agreement-privacy-policy {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-ordinal-group: 7;
            -ms-flex-order: 6;
                order: 6;
    }
    .site-map-hr {
        display: block;
        -webkit-box-ordinal-group: 8;
            -ms-flex-order: 7;
                order: 7
    }
    .footer .site-map-user-agreement-privacy-policy a:first-child {
        -webkit-box-ordinal-group: 9;
            -ms-flex-order: 8;
                order: 8;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .footer .site-map-user-agreement-privacy-policy a:nth-child(3) {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        width: 110px;
    }
    .footer .site-map-user-agreement-privacy-policy a:nth-child(4) {
        width: 150px;
        text-align: right;
    }
    .footer .site-map-user-agreement-privacy-policy .mobile-banner {
        display: block;
        -webkit-box-ordinal-group: 10;
            -ms-flex-order: 9;
                order: 9;
        width: 126px;
        height: 28px;
        background-color: #fff;
    }
    .pop-up-callback, .pop-up-callback-send {
        width: 90%;
    }
}