.content-scheme {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  // margin-top: -30px;
  // margin-left: -30px;
}

// .content-scheme__cell {
//   padding-left: 30px;
//   padding-top: 30px;
// }

.content-scheme-item {
  
}

.content-scheme-item__image {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 165px;
  height: 165px;
}

.content-scheme-item__image img {
  display: block;
}

.content-scheme-item__image::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  transform: translate(20px, 20px);
  z-index: -1;
  border: 10px solid #ededed;
}

.content-scheme-item__image::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: #fff;
  border: 1px solid #dedede;
}

.content-scheme-item__title {
  margin-top: 50px;
  text-align: center;
  font-weight: bold;
  line-height: 1.25;
  font-size: 18px;
}
