.content-collapsible {
  position: relative;
}

.content-collapsible__body {
  max-height: 0;
  overflow: hidden;
  transition: max-height .5s ease;
}

.content-collapsible__inner {

}

.content-collapsible__button {
  position: absolute;
  width: 48px;
  height: 48px;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%);
  background: #e8e8e8;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #1c1e22;
  color: #1c1e22;
  cursor: pointer;
}

// .content-collapsible__button:hover {
//   color: #fff;
//   background: #1c1e22;
// }

.content-collapsible__button::after {
  content: '';
  display: block;
  width: 12px;
  height: 12px;
  border-left: 3px solid currentColor;
  border-bottom: 3px solid currentColor;
  position: relative;
  transform: rotate(-45deg);
  top: -4px;
  transition: .3s ease;
  transition-property: top, transform;
}

.content-collapsible_active .content-collapsible__button::after {
  transform: rotate(-225deg);
  top: 4px;
}
