@import 'variables.scss';

.footer-menu {
    padding: 0 0 15px 0;
    margin: 0 0 15px 0;
    border-bottom: 1px solid rgba(81,88,99,.4);
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    font-size: 12px;
    letter-spacing: .12px;
}

.footer-menu li {
    margin-right: 24px;
}

.footer-menu li a {
    color: #69717f;
    text-decoration: underline;
}

.footer-menu li a:hover {
    color: #9fabc0;
}

.footer {
    background-color: #1c1e22;
    padding-top: 20px;
    padding-bottom: 15px;
    @media (max-width: $breakpoint-xsmall-max) {
        padding-top: 12px;
        padding-bottom: 8px;
    }
}

.footer-grid {
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 12px;
    @media (max-width: $breakpoint-xsmall-max) {
        grid-column-gap: 10px;
        grid-row-gap: 8px;
    }
}

.footer__hr1 {
    height: 1px;
    background: rgba(81, 88, 99, .4);
    grid-row: 2 / 3;
    grid-column: 1 / 9;
    @media (max-width: $breakpoint-xsmall-max) {
        grid-row: 2 / 3;
        grid-column: 1 / 3;
    }
}

.footer__hr2 {
    display: none;
    @media (max-width: $breakpoint-xsmall-max) {
        display: block;
        height: 1px;
        background: rgba(81, 88, 99, .4);
        grid-row: 4 / 5;
        grid-column: 1 / 3;
    }
}

.footer__hr3 {
    display: none;
    @media (max-width: $breakpoint-xsmall-max) {
        display: block;
        height: 1px;
        background: rgba(81, 88, 99, .4);
        grid-row: 6 / 7;
        grid-column: 1 / 3;
    }
}

.footer__copyright {
    color: #69717f;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.14;
    letter-spacing: 0.14px;
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    display: flex;
    align-items: center;
    @media (max-width: $breakpoint-small-max) {
        font-size: 12px;
        line-height: 1;
    }
    @media (max-width: $breakpoint-xsmall-max) {
        grid-row: 3 / 4;
        grid-column: 1 / 2;
    }
}

.footer-social {
    grid-row: 1 / 2;
    grid-column: 3 / 5;
    display: flex;
    align-items: center;
    @media (max-width: $breakpoint-small-max) {
    }
    @media (max-width: $breakpoint-xsmall-max) {
        grid-row: 1 / 2;
        grid-column: 1 / 3;
    }
    a {
        display: inline-block;
        margin-left: 17px;
        color: #8e98ac;
        &.footer-social__vk {
            // color: #505661;
            // color: #556b9a;
            color: #8e98ac;
            &:hover {
                color: #556b9a;
            }
        }
        &.footer-social__inst {
            // color: #505661;
            // color: #8e98ac;
            color: #8e98ac;
            &:hover {
                color: #ca186a;
            }
        }
        &.footer-social__twitter {
            // color: #505661;
            // color: #03a9f4;
            color: #8e98ac;
            &:hover {
                color: #03a9f4;
            }
        }
        &.footer-social__ok {
            // color: #505661;
            // color: #ee931d;
            color: #8e98ac;
            &:hover {
                color: #ee931d;
            }
        }
        &.footer-social__youtube {
            // color: #505661;
            // color: #ca2018;
            color: #8e98ac;
            &:hover {
                color: #ca2018;
            }
        }
        &:first-child {
            margin-left: 0;
        }
        svg {
            display: block;
        }
        img {
            display: block;
            width: 25px;
            height: 25px;
        }
        @media (max-width: $breakpoint-xsmall-max) {
            margin-left: 15px;
        }
    }
}

.footer__requisites {
    color: #69717f;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.14px;
    grid-row: 1 / 2;
    grid-column: 5 / 7;
    display: flex;
    align-items: center;
    @media (max-width: $breakpoint-small-max) {
        font-size: 12px;
    }
    @media (max-width: $breakpoint-xsmall-max) {
        grid-row: 3 / 4;
        grid-column: 2 / 3;
        text-align: right;
        justify-content: flex-end;
    }
}

.footer__counters {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    grid-row: 1 / 2;
    grid-column: 7 / 9;
    a {
        opacity: 0.6;
        &:hover {
            opacity: 1;
        }
    }
    @media (max-width: $breakpoint-small-max) {
    }
    @media (max-width: $breakpoint-xsmall-max) {
        grid-row: 7 / 8;
        grid-column: 2 / 3;
    }
}

.footer__sitemap {
    grid-row: 3 / 4;
    grid-column: 1 / 5;
    display: flex;
    align-items: center;
    @media (max-width: $breakpoint-small-max) {
        grid-column: 1 / 3;
    }
    @media (max-width: $breakpoint-xsmall-max) {
        grid-row: 7 / 8;
        grid-column: 1 / 2;
    }
}

.footer__agreement {
    grid-row: 3 / 4;
    grid-column: 5 / 6;
    display: flex;
    align-items: center;
    @media (max-width: $breakpoint-small-max) {
        grid-column: 3 / 5;
    }
    @media (max-width: $breakpoint-xsmall-max) {
        grid-row: 5 / 6;
        grid-column: 1 / 2;
    }
}

.footer__policy {
    grid-row: 3 / 4;
    grid-column: 6 / 9;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    @media (max-width: $breakpoint-small-max) {
        grid-column: 5 / 9;
    }
    @media (max-width: $breakpoint-xsmall-max) {
        grid-row: 5 / 6;
        grid-column: 2 / 3;
        text-align: right;
    }
}

.footer__sitemap,
.footer__agreement,
.footer__policy {
    a {
        display: block;
        color: #545b66;
        font-size: 12px;
        text-decoration: underline;
        letter-spacing: 0.12px;
        &:hover {
            color: #9fabc0;
        }
    }
}
