@import 'variables.scss';

// body.customize-support {
//     margin-top: -32px;
//     .header-placeholder {
//         height: 140px;
//         @media (max-width: $breakpoint-medium-max) {
//             height: 100px;
//         }
//         @media (max-width: $breakpoint-xsmall-max) {
//             height: 88px;
//         }
//     }
//     .header {
//         top: 32px;
//     }
// }

// @media screen and (max-width: 782px) {
//     body.customize-support {
//         margin-top: -46px;
//         .header-placeholder {
//             height: 154px;
//             @media (max-width: $breakpoint-medium-max) {
//                 height: 114px;
//             }
//             @media (max-width: $breakpoint-xsmall-max) {
//                 height: 102px;
//             }
//         }
//         .header {
//             top: 46px;
//         }
//     }
//     #wpadminbar {
//         position: fixed !important;
//     }
// }

.header-placeholder {
    background-color: rgb(28, 30, 33);
    height: 72px;
    .page-home & {
        display: none;
    }
    @media (max-width: $breakpoint-medium-max) {
        height: 64px;
    }
    @media (max-width: $breakpoint-xsmall-max) {
        height: 48px;
    }
}

.header {
    width: 100%;
    margin: 0 auto;
    background-color: #f0f2f6;
    // background: rgba(0,0,0,.5);
    z-index: 150;
    position: fixed;
    left: 0;
    top: 0;
}

.header__logo {
    width: 242px;
    display: block;
    img {
        width: 100%;
        display: block;
    }
    @media (max-width: $breakpoint-large-max) {
        width: 180px;
    }
    @media (max-width: $breakpoint-medium-max) {
        position: absolute;
        left: 140px;
        top: 50%;
        transform: translateY(-50%);
        .header_menu-opened & {
            display: none;
        }
    }
    @media (max-width: $breakpoint-small-max) {
        left: 72px;
    }
    @media (max-width: $breakpoint-xsmall-max) {
        width: 128px;
        left: 56px;
    }
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 72px;
    // background-color: #1c1e21;
    @media (max-width: $breakpoint-medium-max) {
        // width: calc(100% - 40px);
        height: 64px;
    }
    @media (max-width: $breakpoint-xsmall-max) {
        height: 48px;
    }
}

.header-toggle {
    display: none;
    position: relative;
    // position: absolute;
    left: 0;
    // top: 0;
    width: 64px;
    height: 64px;
    margin-left: -18px;
    cursor: pointer;
    transition: left .3s ease;
    z-index: 20;
    @media (max-width: $breakpoint-medium-max) {
        display: block;
        margin-right: auto;
    }
    @media (max-width: $breakpoint-xsmall-max) {
        margin-left: -12px;
        width: 48px;
        height: 48px;
        background-color: #1c1e21;
    }
}

.header-toggle__label_open {
    display: block;
}

.header-toggle__label_close {
    display: none;
}

.header-toggle_opened {
    left: 263px;
    .header-toggle__icon {
        background: transparent;
        &::before,
        &::after {
            left: 50%;
            top: 50%;
        }
        &::before {
            transform: translate(-50%, -50%) rotate(-45deg);
        }
        &::after {
            transform: translate(-50%, -50%) rotate(45deg);
        }
    }
    .header-toggle__label_open {
        display: none;
    }

    .header-toggle__label_close {
        display: block;
    }
}

.header-toggle__icon {
    left: 50%;
    top: 50%;
    position: absolute;
    background-color: #2d2d29;
    height: 4px;
    width: 26px;
    transform: translate(-50%, -50%);
    &::before,
    &::after {
        display: block;
        content: '';
        position: absolute;
        left: 50%;
        width: 26px;
        height: 4px;
        background-color: #cfcfd0;
        transform: translate(-50%, -50%)
    }
    &::before {
        top: calc(50% - 8px);
    }
    &::after {
        top: calc(50% + 8px);
    }
}

.header-toggle__label {
    position: absolute;
    top: 50%;
    left: 58px;
    transform: translate(0, -50%);
    font-size: 14px;
    font-family: "Next Art", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #2d2d29;
    @media (max-width: $breakpoint-small-max) {
        display: none;
    }
}

.header-m-messengers {
  display: flex;
  margin-left: auto;
  margin-right: 8px;
  @media (min-width: $breakpoint-small) {
    display: none;
  }
}

.header-m-messengers__item {
  display: inline-block;
  color: #ffffff;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  text-align: center;
  margin: 0 4px;
  position: relative;
  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.header-m-messengers__item_telegram {
  background-color: #29a1d4;
  &:hover {
    background-color: #248db9;
  }
}

.header-m-messengers__item_whatsapp {
  background-color: #25d266;
  &:hover {
    background-color: #20b658;
  }
}

.header__contacts {
    display: flex;
    align-items: flex-end;
    gap: 26px;
}

.header-phone {
    border: 1px solid rgb(211, 213, 219);
    border-radius: 4px;
    padding: 0 6px 12px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: border-color .3s ease;
}

.header-phone__number {
    display: flex;
    align-items: center;
    color: #1c1e21;
    font-size: 16px;
    letter-spacing: 0.025em;
    font-weight: bold;
    line-height: 1;
    background: #f0f2f6;
    margin-top: -8px;
    margin-bottom: 5px;
    padding: 0 4px;
    font-family: "Next Art", sans-serif;
    transition: color .3s ease;
}

.header-phone__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22px;
    height: 22px;
    border: 2px solid #ffffff;
    background: #d52437;
    color: #fff;
    border-radius: 50%;
    margin-right: 3px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.49);
    transition: background .3s ease;
}

.header-phone__icon svg {
    width: 10px;
    height: 10px;
}

.header-phone__label {
    color: #d52437;
    font-size: 14px;
    letter-spacing: -0.025em;
    font-weight: bold;
    text-decoration: underline;
    transition: color .3s ease;
}

.header-phone:hover {
    border-color: #b4b6bb;
}

.header-phone:hover .header-phone__icon {
    background: #f72e43;
}

.header-phone:hover .header-phone__label {
    color: #ff2f45;
}

.header-phone:hover .header-phone__number {
    color: #000000;
}

.header-messengers {

}

.header-messengers__label {
    font-size: 14px;
    letter-spacing: 0.025em;
    color: #1c1e21;
    text-align: center;
    margin-bottom: 8px;
}

.header-messengers__buttons {
    display: flex;
    gap: 2px;
}

.header-messengers__button {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(211, 213, 219);
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    color: #1c1e21;
    height: 32px;
    padding: 0 6px;
    text-decoration: none;
    gap: 3px;
}

.header-messengers__button_whatsapp svg {
    margin: 0 -3px;
}

.header-messengers__button:hover {
    border-color: rgb(180, 182, 187);
    background-image: linear-gradient(0, rgb(215,215,215) 0%, rgb(255,255,255) 50%, rgb(215,215,215) 100%);
}
