@import 'variables.scss';

// body.customize-support {
//     margin-top: -32px;
//     .header-placeholder {
//         height: 140px;
//         @media (max-width: $breakpoint-medium-max) {
//             height: 100px;
//         }
//         @media (max-width: $breakpoint-xsmall-max) {
//             height: 88px;
//         }
//     }
//     .header {
//         top: 32px;
//     }
// }

// @media screen and (max-width: 782px) {
//     body.customize-support {
//         margin-top: -46px;
//         .header-placeholder {
//             height: 154px;
//             @media (max-width: $breakpoint-medium-max) {
//                 height: 114px;
//             }
//             @media (max-width: $breakpoint-xsmall-max) {
//                 height: 102px;
//             }
//         }
//         .header {
//             top: 46px;
//         }
//     }
//     #wpadminbar {
//         position: fixed !important;
//     }
// }

.header-placeholder {
    background-color: rgb(28, 30, 33);
    height: 72px;
    .page-home & {
        display: none;
    }
    @media (max-width: $breakpoint-medium-max) {
        height: 64px;
    }
    @media (max-width: $breakpoint-xsmall-max) {
        height: 48px;
    }
}

.header {
    width: 100%;
    margin: 0 auto;
    background-color: rgba(28, 30, 33, 0.6);
    // background: rgba(0,0,0,.5);
    z-index: 150;
    position: fixed;
    left: 0;
    top: 0;
}

.header__logo {
    width: 242px;
    display: block;
    img {
        width: 100%;
        display: block;
    }
    @media (max-width: $breakpoint-large-max) {
        width: 180px;
    }
    @media (max-width: $breakpoint-medium-max) {
        position: absolute;
        left: 130px;
        top: 50%;
        transform: translateY(-50%);
        .header_menu-opened & {
            display: none;
        }
    }
    @media (max-width: $breakpoint-small-max) {
        left: 72px;
    }
    @media (max-width: $breakpoint-xsmall-max) {
        width: 128px;
        left: 56px;
    }
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 72px;
    // background-color: #1c1e21;
    @media (max-width: $breakpoint-medium-max) {
        // width: calc(100% - 40px);
        height: 64px;
    }
    @media (max-width: $breakpoint-xsmall-max) {
        height: 48px;
    }
}

.header-toggle {
    display: none;
    position: relative;
    // position: absolute;
    left: 0;
    // top: 0;
    width: 64px;
    height: 64px;
    margin-left: -10px;
    cursor: pointer;
    transition: left .3s ease;
    z-index: 20;
    @media (max-width: $breakpoint-medium-max) {
        display: block;
        margin-right: auto;
    }
    @media (max-width: $breakpoint-xsmall-max) {
        width: 48px;
        height: 48px;
        background-color: #1c1e21;
    }
}

.header-toggle__label_open {
    display: block;
}

.header-toggle__label_close {
    display: none;
}

.header-toggle_opened {
    left: 263px;
    .header-toggle__icon {
        background: transparent;
        &::before,
        &::after {
            left: 50%;
            top: 50%;
        }
        &::before {
            transform: translate(-50%, -50%) rotate(-45deg);
        }
        &::after {
            transform: translate(-50%, -50%) rotate(45deg);
        }
    }
    .header-toggle__label_open {
        display: none;
    }

    .header-toggle__label_close {
        display: block;
    }
}

.header-toggle__icon {
    left: 50%;
    top: 50%;
    position: absolute;
    background-color: #cfcfd0;
    height: 4px;
    width: 26px;
    transform: translate(-50%, -50%);
    &::before,
    &::after {
        display: block;
        content: '';
        position: absolute;
        left: 50%;
        width: 26px;
        height: 4px;
        background-color: #cfcfd0;
        transform: translate(-50%, -50%)
    }
    &::before {
        top: calc(50% - 8px);
    }
    &::after {
        top: calc(50% + 8px);
    }
}

.header-toggle__label {
    position: absolute;
    top: 50%;
    left: 58px;
    transform: translate(0, -50%);
    font-size: 14px;
    font-family: "Next Art", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #e5e5e6;
    @media (max-width: $breakpoint-small-max) {
        display: none;
    }
}

.header__fbtns {
    display: flex;
    align-items: center;
    > * {
        margin-left: 18px;
        &:first-child {
            margin-left: 0;
        }
    }
}

.header__phone {
    text-decoration: none;
    letter-spacing: 0.035em;
    font-family: "Next Art", sans-serif;
    font-weight: 600;
    color: #fff;
    font-size: 18px;
    margin-left: 30px;
    @media (max-width: $breakpoint-medium-max) {
        font-size: 14px;
        font-weight: bold;
    }
    @media (max-width: $breakpoint-xsmall-max) {
        display: none;
    }
//     display: flex;
//     flex-flow: column;
//     align-items: center;
//     text-decoration: none;
//     @media (max-width: $breakpoint-medium-max) {
//         flex-flow: row;
//         margin-right: -10px;
//     }
//     @media (max-width: $breakpoint-xsmall-max) {
//         margin-right: -38px;
//     }
}

.header__fbtn {
    display: flex;
    align-items: center;
    background: transparent;
    border: none;
    color: #ffffff;
    text-align: left;
    font-size: 14px;
    text-decoration: none;
}

.header__fbtn-icon {
    width: 32px;
    height: 32px;
    background-color: #d52437;
    border-radius: 16px;
    position: relative;
    flex-shrink: 0;
    svg {
        width: 18px;
        height: 18px;
        border-radius: 50%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

.header__fbtn-label {
    margin-left: 6px;
    @media (max-width: $breakpoint-small-max) {
        display: none;
    }
}

// .header-callback__phone {
//     text-decoration: none;
//     letter-spacing: 0.035em;
//     font-family: "Next Art", sans-serif;
//     font-weight: 600;
//     color: #fff;
//     font-size: 18px;
//     @media (max-width: $breakpoint-medium-max) {
//         font-size: 14px;
//         font-weight: bold;
//         margin-right: 22px;
//     }
//     @media (max-width: $breakpoint-xsmall-max) {
//         display: none;
//     }
// }

// .header-callback__button {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     width: 228px;
//     height: 32px;
//     margin-top: 10px;
//     background-color: #d52437;
//     border: none;
//     border-radius: 16px;
//     text-align: center;
//     cursor: pointer;
//     padding-left: 29px;
//     font-family: "Arimo", sans-serif;
//     font-size: 13px;
//     letter-spacing: .075em;
//     color: #fff;
//     position: relative;
//     transition: .3s ease;
//     transition-property: background-color, box-shadow;
//     svg {
//         width: 26px;
//         height: 26px;
//         background: #9a1a28;
//         border-radius: 50%;
//         padding: 5px;
//         position: absolute;
//         left: 3px;
//     }
//     &:hover {
//       background-color: rgb(255, 43, 66);
//       box-shadow: 0.209px 1.989px 8px 0px rgba(239, 21, 44, 0.6);
//     }
//     @media (max-width: $breakpoint-medium-max) {
//         width: 40px;
//         height: 40px;
//         border-radius: 50%;
//         margin-top: 0;
//         padding: initial;
//         span {
//             display: none;
//         }
//         svg {
//             width: initial;
//             height: initial;
//             background: initial;
//             border-radius: initial;
//             padding: initial;
//             position: initial;
//             left: initial;
//         }
//     }
//     @media (max-width: $breakpoint-xsmall-max) {
//         width: 54px;
//         height: 48px;
//         border-radius: 24px 0 0 24px;
//         box-shadow: 0 4px 4px 1px rgba(54, 57, 65, 0.35);
//     }
// }

// .header-messengers {
//   display: flex;
//   margin-left: auto;
//   margin-right: 8px;
//   @media (min-width: $breakpoint-small) {
//     display: none;
//   }
// }

// .header-messengers__item {
//   display: inline-block;
//   color: #ffffff;
//   border-radius: 50%;
//   width: 28px;
//   height: 28px;
//   text-align: center;
//   margin: 0 4px;
//   position: relative;
//   svg {
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//   }
// }

// .header-messengers__item_telegram {
//   background-color: #29a1d4;
//   &:hover {
//     background-color: #248db9;
//   }
// }

// .header-messengers__item_whatsapp {
//   background-color: #25d266;
//   &:hover {
//     background-color: #20b658;
//   }
// }
