.intro {
  position: relative;
  padding-bottom: 102px;
  padding-top: 112px;
  > .container {
    position: relative;
    z-index: 20;
  }
}

.intro__title {
  color: #fff;
  font-size: 60px;
  font-family: $font-alt;
  line-height: 1;
  span {
    letter-spacing: .1em;
    padding: 0 10px;
    background-color: rgba(28, 30, 33, .5);
  }
  small {
    letter-spacing: .2em;
    font-size: 36px;
    padding: 0 10px;
    background-color: rgba(28, 30, 33, .5);
  }
}

.intro__desc {

}

.intro__button {
  display: flex;
  background: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
  span:nth-child(1) {
    font-family: $font-alt;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: .2em;
    line-height: 65px;
    padding: 0 45px;
    border-radius: 36px 0 0 36px;
    border: 4px solid #d52437;
    border-right: 0;
  }
  span:nth-child(2) {
    width: 70px;
    min-width: 70px;
    height: 73px;
    min-height: 65px;
    display: block;
    background: #d52437;
    border-radius: 0 36px 36px 0;
    border: 4px solid #d52437;
    position: relative;
    border-left: 0;
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(-45deg);
      width: 12px;
      height: 12px;
      display: block;
      border-right: 4px solid #fff;
      border-bottom: 4px solid #fff;
      margin-left: -2px;
    }
  }
  &:hover {
    span:nth-child(1) {
      background: #d52437;
    }
  }
}

.intro__image {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 10;
}
