.intro {
  position: relative;
  padding-bottom: 102px;
  padding-top: 112px;
  background-color: #2f2f2f;
  > .container {
    position: relative;
    z-index: 20;
  }
  @media (max-width: $breakpoint-medium-max) {
    padding-bottom: 0;
    padding-top: 20px;
  }
}

.intro__title {
  color: #fff;
  font-size: 60px;
  line-height: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  font-family: $font-alt;
  span {
    letter-spacing: .1em;
    padding: 0 10px;
    background-color: rgba(28, 30, 33, .5);
    margin-bottom: 4px;
    line-height: 1.08;
    &:last-child {
      margin-bottom: 0;
    }
  }
  small {
    letter-spacing: .2em;
    font-size: 36px;
    padding: 0 10px;
    background-color: rgba(28, 30, 33, .5);
    margin-bottom: 4px;
    line-height: 1.15;
    &:last-child {
      margin-bottom: 0;
    }
  }
  @media (max-width: $breakpoint-large-max) {
    font-size: 48px;
  }
}

.intro__description {
  color: #fff;
  text-shadow: 1px 0 1px rgba(0,0,0,.61);
  margin-top: 30px;
  margin-bottom: 19px;
  p {
    font-size: 22px;
    line-height: 1.25;
    letter-spacing: .025em;
  }
  ul {
    font-size: 16px;
    line-height: 1.333;
    padding: 0;
    margin: 14px 0;
    list-style: none;
    li {
      position: relative;
      padding-left: 42px;
      margin: 9px 0;
      &::before {
        content: '';
        border-left: 4px solid currentColor;
        border-bottom: 4px solid currentColor;
        position: absolute;
        left: 11px;
        top: 2px;
        transform: rotate(-45deg);
        height: 7px;
        width: 15px;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.61);
      }
    }
  }
}

.intro__button {
  display: flex;
  background: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
  span:nth-child(1) {
    font-family: $font-alt;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: .2em;
    line-height: 65px;
    padding: 0 43px;
    border-radius: 40px 0 0 40px;
    border: 4px solid #d52437;
    border-right: 0;
  }
  span:nth-child(2) {
    width: 73px;
    min-width: 73px;
    height: 73px;
    min-height: 65px;
    display: block;
    background: #d52437;
    border-radius: 0 40px 40px 0;
    border: 4px solid #d52437;
    position: relative;
    border-left: 0;
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(-45deg);
      width: 12px;
      height: 12px;
      display: block;
      border-right: 4px solid #fff;
      border-bottom: 4px solid #fff;
      margin-left: -7px;
    }
  }
  &:hover {
    span:nth-child(1) {
      background: #d52437;
    }
  }
}

.intro__image {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 10;
  @media (max-width: $breakpoint-medium-max) {
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: auto;
    height: 700px;
  }
}

.intro-advantages {
  background-color: #2f2f2f;
  padding: 20px 0;
}

.intro-advantages__list {
  margin-left: -40px;
  display: flex;
  padding-left: 20px;
  flex-wrap: wrap;
}

.intro-advantages__cell {
  padding-left: 40px;
  width: 25%;
  @media (max-width: $breakpoint-medium-max) {
    width: 50%;
  }
}

.intro-advantage {
  display: flex;
  align-items: center;
}

.intro-advantage__image {
  border: 7px solid rgba(237,237,237,.20);
  width: 124px;
  height: 124px;
  min-width: 124px;
  min-height: 124px;
  position: relative;
  margin-right: 12px;
  img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.intro-advantage__title {
  font-size: 18px;
  font-family: $font-alt;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.222;
}

.intro__layout {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  @media (max-width: $breakpoint-medium-max) {
    flex-wrap: wrap;
  }
}

.intro__left {
  @media (max-width: $breakpoint-medium-max) {
    width: 100%;
  }
}

.intro__right {
  max-width: 646px;
  width: 50%;
  padding: 11px 25px;
  @media (max-width: $breakpoint-medium-max) {
    width: 100%;
    max-width: initial;
    padding: 20px 0;
  }
}

.intro-calc {
  background-color: rgba(54, 57, 65, 0.902);
  width: 100%;
  padding: 27px 40px;
  box-shadow: 0 0 0 1px rgba(125, 125, 125, 0.4);
}

.intro-calc__title {
  font-size: 22px;
  letter-spacing: 0.025em;
  line-height: 1;
  font-weight: bold;
  color: #fff;
  margin-bottom: 48px;
}

.intro-calc__layout {
  display: flex;
}

.intro-calc__layout-left {
  width: 47%;
  margin-right: 11%;
}

.intro-calc__layout-right {
  width: 42%;
}

.intro-calc__label {
  color: #b1bfd7;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 12px;
  font-family: $font-alt;
  position: relative;
  padding-left: 37px;
  span {
    text-transform: none;
  }
  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 26px;
    height: 3px;
    background-color: #ed3947;
  }
}

.intro-calc__label-alt {
  font-size: 12px;
  letter-spacing: 0.1em;
  color: #9facc1;
  margin-bottom: 12px;
}

.intro-calc__row-object {
  position: relative;
  z-index: 20;
}

.intro-calc__row-area {
  margin-top: 25px;
  position: relative;
  z-index: 10;
}

.intro-calc__row-type {

}

.intro-calc__row-phone {
  margin-top: 69px;
}

.intro-calc__phone {
  border-left: none;
  border-top: none;
  border-right: none;
  padding: 0 14px;
  height: 30px;
  line-height: 30px;
  font-size: 18px;
  color: #f6f7fb;
  letter-spacing: 0.1em;
  border-bottom: 2px solid #4f555d;
  background: transparent;
  &::-moz-placeholder { color: #f6f7fb; }
  &::-webkit-input-placeholder { color: #f6f7fb; }
  &:-ms-input-placeholder { color: #f6f7fb; }
  &::-ms-input-placeholder { color: #f6f7fb; }
  &::placeholder { color: #f6f7fb; } 
}

.intro-calc__label {
  margin-bottom: 12px;
}

.intro-calc__types {
  margin-top: 22px;
}

.intro-calc__type {
  font-size: 16px;
  color: #cbccd0;
  letter-spacing: 0.1em;
  line-height: 1;
  margin-top: 12px;
  display: block;
  cursor: pointer;
  input {
    display: none;
  }
  > span {
    display: flex;
    align-items: center;
    > span {
      width: 25px;
      height: 25px;
      margin-right: 14px;
      border-radius: 50%;
      border: 1px solid #9aa6bb;
      background-color: #31333a;
      position: relative;
    }
  }
  input:checked + span {
    color: #fff;
    > span::before {
      content: '';
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background-color: #919baf;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.intro-calc__price {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 27px;
}

.intro-calc__price-label {
  color: #b1bfd7;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 12px;
  margin-right: 10px;
  font-family: $font-alt;
}

.intro-calc__price-value {
  line-height: 40px;
  padding: 0 10px;
  flex-grow: 1;
  text-align: center;
  border-radius: 4px;
  background-color: rgba(0,0,0,.21);
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.05em;
}

.intro-calc__submit {
  margin: 23px -25px 0;
  white-space: nowrap;
  background: linear-gradient(90deg, rgba(237,57,72,.8) 0%, rgba(237,57,72,.8) calc(100% - 55px), transparent calc(100% - 55px), transparent 100%);
}

.selectys {
  position: relative;
  z-index: 20;
  select {
    display: none;
  }
}

.selectys__label {
  border: 2px solid transparent;
  border-bottom-color: #4f555d;
  background-color: rgba(0,0,0,.2);
  line-height: 42px;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 16px;
  color: #f6f7fb;
  letter-spacing: 0.1em;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  width: 100%;
  &::before {
    content: '';
    position: absolute;
    width: 13px;
    height: 13px;
    background-color: #ed3947;
    right: 13px;
    top: 50%;
    transform: translateY(-50%);
  }
  &::after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 7px 5px 0;
    border-color: #ffffff transparent transparent;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
  }
  ._opened & {
    border-color: #4f555d;
  }
}

.selectys__list {
  position: absolute;
  left: 0;
  width: 100%;
  top: 100%;
  display: none;
  border: 8px solid #545965;
  background-color: #fffbee;
  padding: 0;
  margin: 0;
  list-style: none;
  ._opened & {
    display: block;
  }
  li {
    border-bottom: 1px solid #eeeeee;
    line-height: 1;
    padding: 12px 20px;
    font-size: 15px;
    color: #5f5f5f;
    cursor: pointer;
    &:hover {
      color: #000;
      background-color: #fff3cf;
    }
    &:last-child {
      border-bottom: none;
    }
  }
}

.rangeSlider, .rangeSlider__fill {
  display: block;
}

.rangeSlider {
  position: relative;
  background: #4f555d;
}

.rangeSlider__horizontal {
  height: 4px;
  width: 100%;
  margin-top: 25px;
}

.rangeSlider__vertical {
  height: 100%;
  width: 4px;
}

.rangeSlider--disabled {
  opacity: 0.4;
}

.rangeSlider__fill {
  background: #ffffff;
  position: absolute;
}

.rangeSlider__fill__horizontal {
  height: 100%;
  top: 0;
  left: 0;
}

.rangeSlider__fill__vertical {
  width: 100%;
  bottom: 0;
  left: 0;
}

.rangeSlider__handle {
  cursor: pointer;
  display: inline-block;
  width: 12px;
  height: 12px;
  position: absolute;
  background: #ffffff;
  border-radius: 50%;
  z-index: 20;
}

.rangeSlider__handle__horizontal {
  top: -4px;
}

.rangeSlider__handle__vertical {
  left: -4px;
  bottom: 0;
}

.rangeSlider__handle__value {
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
  letter-spacing: 0.1em;
  color: #f6f7fb;
  line-height: 1;
}

.rangeSlider__buffer {
  position: absolute;
  top: 1px;
  height: 1px;
  background: #2c3e50;
}

.rangeSlider__points {
  position: absolute;
  left: 0;
  width: 100%;
  bottom: -12px;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  line-height: 1;
  li {
    color: #a6b4ca;
    font-size: 10px;
    letter-spacing: 0.025em;
    position: relative;
    span {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    &::before {
      content: '';
      width: 2px;
      height: 5px;
      position: absolute;
      background-color: #4f555d;
      top: -6px;
      left: 50%;
      margin-left: -1px;
      margin-top: -15px;
    }
    &:first-child::before {
      left: 0;
      margin-left: 0;
    }
    &:last-child::before {
      right: 0;
      margin-left: 0;
      left: auto;
    }
  }
}
