.landing-measurement {
  background-image: url('../img/measurement-pattern.png');
  background-color: #6d6e8a;
  padding-top: 50px;
  padding-bottom: 50px;
  @media (max-width: $breakpoint-xsmall-max) {
      padding-top: 40px;
      padding-bottom: 40px;
  }
}

.landing-measurement__title {
  font-size: 30px;
  line-height: 1;
  font-weight: bold;
  color: #333;
  text-align: center;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-family: "Next Art", sans-serif;
  @media (max-width: $breakpoint-xsmall-max) {
      font-size: 20px;
  }
}

.landing-measurement__title span {
  padding: 20px 26px 18px;
  display: inline-block;
  background: #ffffff;
  @media (max-width: $breakpoint-xsmall-max) {
      padding: 14px 16px 12px;
  }
}

.landing-measurement__request {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

@keyframes leftArrow {
  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(10px, 0);
  }
}

.landing-measurement__request::before {
  content: '';
  display: block;
  background: url('../img/arrow-right.png') no-repeat 50% 50%;
  background-size: cover;
  width: 66px;
  height: 28px;
  margin-right: 20px;
  position: relative;
  top: 2px;
  animation: leftArrow 1s ease-in-out infinite;
  @media (max-width: $breakpoint-xsmall-max) {
      width: 33px;
      height: 14px;
      top: 1px;
      margin-right: 8px;
      margin-left: -12px;
  }
}

@keyframes rightArrow {
  0%,
  100% {
    transform: translate(10px, 0);
  }

  50% {
    transform: translate(0, 0);
  }
}

.landing-measurement__request::after {
  content: '';
  display: block;
  background: url('../img/arrow-left.png') no-repeat 50% 50%;
  background-size: cover;
  width: 66px;
  height: 28px;
  margin-left: 20px;
  position: relative;
  top: 2px;
  animation: rightArrow 1s ease-in-out infinite;
  @media (max-width: $breakpoint-xsmall-max) {
      width: 33px;
      height: 14px;
      top: 1px;
      margin-left: 8px;
      margin-right: -12px;
  }
}
