.landing-get-estimate {
  background: #6b6d89 url('../img/get-estimate-bg.jpg') no-repeat 100% 100%;
  // background-size: auto 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  @media (max-width: 1920px) {
    background-position: 50% 100%;
  }
}

.landing-get-estimate__title {
  font-size: 48px;
  color: #fff;
  line-height: 1;
  margin-bottom: 20px;
  font-weight: bold;
}

.landing-get-estimate__title::after {
  content: '';
  height: 3px;
  width: 110px;
  background: #ffffff;
  display: block;
  margin-top: 20px;
}

.landing-get-estimate__layout {
  display: flex;
  justify-content: space-between;
}

.landing-get-estimate__layout::after {
  content: '';
  display: block;
}

.landing-get-estimate__layout-expert {
  width: 480px;
}

.landing-get-estimate__layout-form {
  width: 274px;
}

.get-estimate-expert {
  display: flex;
  align-items: center;
}

.get-estimate-expert__image {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 40px;
  flex-shrink: 0;
  margin-left: -20px;
  img {
    display: block;
  }
}

.get-estimate-expert__body {

}

.get-estimate-expert__name {
  color: #fbfbfa;
  font-size: 30px;
  line-height: 1;
  font-weight: bold;
  margin-bottom: 30px;
}

.get-estimate-expert__stats {
  font-size: 16px;
  color: #000;
  text-decoration: underline;
  background: #ffd100;
  padding-left: 20px;
  padding-right: 20px;
  display: inline-block;
  line-height: 1;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-left: -5px;
}

.get-estimate-expert__description {
  margin-top: 28px;
  font-size: 18px;
  color: #e2e3e5;
  line-height: 1.125;
}

.get-estimate-form {

}

.get-estimate-form__row + .get-estimate-form__row{
  margin-top: 24px;
}

.get-estimate-form__submit {
  font-size: 18px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .05em;
  max-width: 100%;
  line-height: 1;
  border-radius: 26px;
  background: #d52437;
  border: none;
  cursor: pointer;
  padding: 2px 24px 0px;
  min-height: 52px;
  display: inline-flex;
  align-items: center;
  &:hover {
      background: #ed3947;
  }
}

.get-estimate-form__submit::before {
  content: '';
  display: inline-block;
  width: 21px;
  height: 21px;
  background: url('../img/discount-tag.png') no-repeat 50% 50%;
  background-size: cover;
  margin-right: 12px;
  margin-left: -6px;
}

.get-estimate-form__rules {
  display: block;
  font-size: 12px;
  color: #404040;
  margin-top: 20px;
  margin-left: 18px;
  margin-right: 18px;
  padding-left: 30px;
  position: relative;
  .form-checkbox {
    position: absolute;
    left: 0;
    top: 0;
  }
  a {
    color: inherit;
    text-decoration: underline;
  }
}

.get-estimate-form__rules::before {
  content: '';
  position: absolute;
  z-index: -1;
  width: 120%;
  height: 120%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: radial-gradient(#ededed, transparent);
}

.get-estimate-form__input {
  height: 48px;
  border: 2px solid #ededed;
  background-color: #fff;
  color: #505661;
  font-size: 14px;
  font-weight: 400;
  font-family: inherit;
  line-height: 1;
  letter-spacing: .35px;
  padding: 0 20px;
  width: 100%;
  display: block;
}
