.landing-readiness {
  background: url('../img/readiness-bg.jpg') no-repeat 50% 50%;
  background-size: cover;
  position: relative;
  z-index: 1;
  padding-top: 205px;
  padding-bottom: 30px;
  @media (max-width: $breakpoint-small-max) {
    padding-top: 160px;
  }
  @media (max-width: $breakpoint-xsmall-max) {
    padding-top: 100px;
  }
}

.landing-readiness::before {
  content: '';
  background: url('../img/readiness-bg-top.png') no-repeat 50% 50%;
  background-size: auto 100%;
  width: 100%;
  height: 254px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  @media (max-width: $breakpoint-small-max) {
    height: 200px;
  }
  @media (max-width: $breakpoint-xsmall-max) {
    padding-top: 125px;
  }
}

.landing-readiness::after {
  content: '';
  background: url('../img/readiness-bg-bottom.png') no-repeat 50% 50%;
  background-size: auto 100%;
  width: 100%;
  height: 153px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  @media (max-width: $breakpoint-small-max) {
    height: 120px;
  }
  @media (max-width: $breakpoint-xsmall-max) {
    padding-top: 75px;
  }
}

.landing-readiness__title {
  font-size: 60px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  position: relative;
  z-index: 1;
  @media (max-width: $breakpoint-small-max) {
    font-size: 48px;
  }
  @media (max-width: $breakpoint-xsmall-max) {
    font-size: 26px;
  }
}

.landing-readiness__title::before {
  content: '';
  background: url('../img/readiness-shadow-title.png') no-repeat 50% 50%;
  width: 1173px;
  height: 187px;
  position: absolute;
  z-index: -1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.landing-readiness__title span {
  color: #ed3947;
}

.landing-readiness__description {
  font-size: 16px;
  color: #fff;
  text-align: center;
  line-height: 1.5;
  position: relative;
  z-index: 1;
  margin-top: 22px;
}

.landing-readiness__description::before {
  content: '';
  background: url('../img/readiness-shadow-description.png') no-repeat 50% 50%;
  width: 987px;
  height: 105px;
  position: absolute;
  z-index: -1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.readiness-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 640px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  @media (max-width: $breakpoint-xsmall-max) {
    margin-top: 30px;
  }
}

.readiness-form__phone {
  flex-grow: 1;
  margin-right: 42px;
  @media (max-width: $breakpoint-xsmall-max) {
    margin-right: 0;
    width: 100%;
  }
}

.readiness-form__input {
  height: 48px;
  border: 2px solid #ededed;
  background-color: #fff;
  color: #505661;
  font-size: 14px;
  font-weight: 400;
  font-family: inherit;
  line-height: 1;
  letter-spacing: .35px;
  padding: 0 20px;
  width: 100%;
  display: block;
}

.readiness-form__submit {
  @media (max-width: $breakpoint-xsmall-max) {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

.readiness-form__rules {
  display: block;
  font-size: 12px;
  color: #404040;
  line-height: 1.25;
  margin-top: 16px;
  margin-left: 120px;
  margin-right: 25px;
  padding-left: 24px;
  position: relative;
  z-index: 1;
  span {
    position: absolute;
    left: 0;
    top: 0;
  }
  a {
    color: inherit;
    text-decoration: underline;
  }
  @media (max-width: $breakpoint-xsmall-max) {
    margin-left: 12px;
    margin-right: 12px;
  }
}

.readiness-form__rules::before {
  content: '';
  position: absolute;
  z-index: -1;
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  background: radial-gradient(ellipse, #ededed,transparent 70%,transparent);;
}
