.landing-easy-work {
  padding-top: 70px;
  padding-bottom: 80px;
}

.landing-easy-work__title {
  text-align: center;
  text-transform: uppercase;
  font-family: "Next Art", sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: #333333;
  margin-bottom: 40px;
  line-height: 1;
  letter-spacing: 0.05em;
  @media (max-width: $breakpoint-xsmall-max) {
    font-size: 24px;
  }
}

.landing-easy-work__title::after {
  content: '';
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 22px;
  width: 110px;
  height: 4px;
  background: #ff394f;
}

.landing-easy-work__list {

}

.landing-easy-work__request {
  display: flex;
  justify-content: center;
  margin-top: 160px;
}

.easy-work-item {
  padding-bottom: 86px;
  position: relative;
}

.easy-work-item::before {
  content: '';
  height: 86px;
  width: 1px;
  background: #ebebeb;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}

.easy-work-item::after {
  content: '';
  height: 12px;
  width: 12px;
  border-right: 3px solid #5d6270;
  border-bottom: 3px solid #5d6270;
  position: absolute;
  left: 50%;
  bottom: 40px;
  transform: translateX(-50%) rotate(-45deg);
}

.easy-work-item:last-child {
  padding-bottom: 0;
}

.easy-work-item:last-child::before,
.easy-work-item:last-child::after {
  display: none;
}

.easy-work-item__cell {

}

.easy-work-item__cell {

}
