.landing-easy-work {
  padding-top: 80px;
  padding-bottom: 80px;
}

.landing-easy-work__title {
  text-align: center;
  text-transform: uppercase;
  font-family: "Next Art", sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: #333333;
  margin-bottom: 70px;
  line-height: 1;
  letter-spacing: 0.05em;
  @media (max-width: $breakpoint-xsmall-max) {
    font-size: 24px;
  }
}

.landing-easy-work__title::after {
  content: '';
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 22px;
  width: 110px;
  height: 4px;
  background: #ff394f;
}

.landing-easy-work__list {

}

.landing-easy-work__request {
  display: flex;
  justify-content: center;
  // margin-top: 160px;
  margin-top: 120px;
}

.easy-work-item {
  padding-bottom: 86px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (max-width: $breakpoint-small-max) {
    flex-direction: column;
  }
}

.easy-work-item::before {
  content: '';
  height: 86px;
  width: 1px;
  background: #ebebeb;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}

.easy-work-item::after {
  content: '';
  height: 10px;
  width: 10px;
  border-right: 4px solid #5d6270;
  border-bottom: 4px solid #5d6270;
  position: absolute;
  left: 50%;
  bottom: 40px;
  transform: translateX(-50%) rotate(45deg);
}

.easy-work-item:last-child {
  padding-bottom: 0;
}

.easy-work-item:last-child::before,
.easy-work-item:last-child::after {
  display: none;
}

.easy-work-item__cell {
  position: relative;
  z-index: 1;
  width: calc(50% - 80px);
  @media (max-width: $breakpoint-medium-max) {
    width: calc(50% - 60px);
  }
  @media (max-width: $breakpoint-small-max) {
    width: 100%;
    & + .easy-work-item__cell {
      margin-top: 40px;
    }
  }
}

.easy-work-item__title {
  font-weight: bold;
  font-size: 30px;
  color: #000;
  line-height: 1;
  @media (max-width: $breakpoint-small-max) {
    text-align: center;
  }
}

.easy-work-item__description {
  font-size: 18px;
  line-height: 1.333;
  margin-top: 16px;
  @media (max-width: $breakpoint-small-max) {
    text-align: center;
  }
}

.easy-work-item__request {
  margin-top: 20px;
  display: flex;
  @media (max-width: $breakpoint-small-max) {
    justify-content: center;
  }
}

.easy-work-item__image {
  width: 282px;
  height: 282px;
  border: 1px solid #dedede;
  position: relative;
  z-index: 1;
  margin-left: auto;
  margin-right: 67px;
  img {
    display: block;
  }
  @media (max-width: $breakpoint-small-max) {
    width: 260px;
    height: 260px;
    margin-left: auto;
    margin-right: auto;
  }
}

.easy-work-item__image::after {
  content: '';
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border: 12px solid #ebebeb;
  transform: translate(-67px, 46px);
  @media (max-width: $breakpoint-small-max) {
    transform: translate(-35px,35px);
  }
}

.easy-work-item__image-number {
  position: absolute;
  top: 109px;
  right: -67px;
  background: #ed3947;
  color: #fff;
  width: 108px;
  text-align: center;
  line-height: 89px;
  font-size: 67px;
  font-weight: bold;
  font-family: "Next Art", sans-serif;
}

.easy-work-item:nth-child(2n) {
  .easy-work-item__cell:first-child {
    order: 1;
  }
  .easy-work-item__image {
    margin-left: 67px;
    margin-right: auto;
  }
  .easy-work-item__image::after {
    transform: translate(67px, 46px);
  }
  .easy-work-item__image-number {
    right: auto;
    left: -67px;
  }
  .easy-work-item__title {
    text-align: right;
  }
  .easy-work-item__description {
    text-align: right;
  }
  .easy-work-item__request {
    justify-content: flex-end;
  }
}
