.landing-about-team {
  padding-top: 80px;
  padding-bottom: 80px;
  @media (max-width: $breakpoint-xsmall-max) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.landing-about-team__title {
  text-align: center;
  text-transform: uppercase;
  font-family: "Next Art", sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: #333333;
  margin-bottom: 60px;
  line-height: 1;
  letter-spacing: 0.05em;
  @media (max-width: $breakpoint-xsmall-max) {
    font-size: 24px;
    margin-bottom: 40px;
  }
}

.landing-about-team__title::after {
  content: '';
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 22px;
  width: 110px;
  height: 4px;
  background: #ff394f;
}

.about-team-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-team-item + .about-team-item {
  margin-top: 50px;
}

.about-team-item:nth-child(2n) .about-team-item__image {
  order: -1;
}

.about-team-item__body {
  width: calc(50% - 15px);
  @media (max-width: $breakpoint-xsmall-max) {
    width: 100%;
  }
}

.about-team-item__title {
  font-size: 24px;
  font-weight: bold;
  color: #262625;
  margin-bottom: 25px;
}

.about-team-item__description {
  font-size: 18px;
  color: #000;
  line-height: 1.333;
}

.about-team-item__image {
  width: calc(50% - 15px);
  @media (max-width: $breakpoint-xsmall-max) {
    width: 100%;
    margin-top: 20px;
  }
}

.about-team-item__image img {
  display: block;
}
