.landing-about-team {
  padding-top: 80px;
  padding-bottom: 80px;
  @media (max-width: $breakpoint-xsmall-max) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.landing-about-team__title {
  text-align: center;
  text-transform: uppercase;
  font-family: "Next Art", sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: #333333;
  margin-bottom: 60px;
  line-height: 1;
  letter-spacing: 0.05em;
  @media (max-width: $breakpoint-xsmall-max) {
    font-size: 24px;
    margin-bottom: 40px;
  }
}

.landing-about-team__title::after {
  content: '';
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 22px;
  width: 110px;
  height: 4px;
  background: #ff394f;
}

.landing-about-team__content {

}
