.landing-quiz {
  padding: 80px 0;
  @media (max-width: $breakpoint-xsmall-max) {
    padding: 60px 0;
  }
}

.landing-quiz__title {
  text-align: center;
  text-transform: uppercase;
  font-family: "Next Art", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #333;
  margin-bottom: 34px;
  @media (max-width: $breakpoint-xsmall-max) {
    margin-bottom: 20px;
  }
}

.landing-quiz__title span {
  color: #d52437;
}

.quiz {

}

.quiz-steps {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 36px 36px;
}

.quiz-steps__item {
  width: 40px;
  height: 40px;
  color: #9d9d9d;
  background: #e2e2e2;
  display: flex;
  font-size: 24px;
  font-weight: bold;
  font-family: "Next Art", sans-serif;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 4px solid white;
  margin: 0 -4px;
  position: relative;
  z-index: 1;
}

.quiz-steps__item_active {
  color: #fff;
  background: #677897;
}

.quiz-steps__item_gift::before {
  content: '';
  position: absolute;
  z-index: -1;
  left: -12px;
  right: -12px;
  top: -12px;
  bottom: -12px;
  background: #ed3947;
  border-radius: 50%;
}

.quiz-steps__item_gift svg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.quiz-steps__line {
  flex-grow: 1;
  background: #e2e2e2;
  height: 10px;
}

.quiz-steps__line_active {
  background: #677897;
}

.quiz-screens {

}

.quiz-screens__item {
  display: none;
}

.quiz-screens__item_active {
  display: block;
}

.quiz-layout {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.quiz-layout__screens {
  width: calc(100% - (350px + 40px));
}

.quiz-layout__info {
  width: 346px;
  flex-shrink: 0;
}

.quiz-info {
  padding: 44px 25px;
  background: #ececef;
  border-radius: 4px;
  min-height: 100%;
}

.quiz-info__title {
  letter-spacing: -0.01em;
  color: #000000;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  margin-bottom: 56px;
}

.quiz-info__items {
  display: flex;
  margin-left: -20px;
  margin-top: -20px;
}

.quiz-info__item {
  padding-left: 20px;
  padding-top: 20px;
  width: 50%;
}

.quiz-info__item-icon {
  width: 60px;
  height: 60px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quiz-info__item-icon img {
  display: block;
}

.quiz-info__item-title {
  font-weight: bold;
  color: #1b1b1b;
  font-size: 16px;
  line-height: 1.125;
  margin-top: 12px;
  text-align: center;
  letter-spacing: -0.025em;
}

.quiz-buttons {

}

.quiz-buttons__item {

}

.quiz-content {
  display: flex;
  justify-content: space-between;
}

.quiz-content__image {
  width: calc(50% - 10px);
}

.quiz-content__form {
  width: calc(50% - 10px);
}

.quiz-form {

}

.quiz-form__title {
  display: flex;
  align-items: center;
}

.quiz-form__title-marker {
  align-self: flex-start;
  width: 35px;
  height: 35px;
  color: #fff;
  font-weight: bold;
  font-size: 33px;
  font-family: "Next Art", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

.quiz-form__title-marker::before {
  content: '';
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  top: 0;
  bottom: 0;
  border: 4px solid #dbdbe1;
  transform: translate(7px, 7px);
}

.quiz-form__title-marker::after {
  content: '';
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  top: 0;
  bottom: 0;
  background: #ed3947;
}

.quiz-form__title-content {
}

.quiz-form__title-text {
  color: #0c0c0c;
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
  font-family: "Next Art", sans-serif;
}

.quiz-form__fields {

}

.quiz-form__fields-item {

}
