.landing-faq {
  background: #ecf5f9 url('../img/faq-bg.jpg') no-repeat 50% 50%;
  padding-bottom: 38px;
  padding-top: 70px;
  @media (min-width: 1920px) {
    background-position: 0 50%;
  }
}

.landing-faq__title {
  text-align: center;
  text-transform: uppercase;
  font-family: "Next Art", sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: #333333;
  margin-bottom: 40px;
}

.landing-faq__title::after {
  content: '';
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 110px;
  height: 4px;
  background: #ff394f;
}

.landing-faq__list {
  margin-top: 38px;
  max-width: 760px;
  margin-left: auto;
}

.landing-faq__description {
  font-size: 24px;
  font-weight: bold;
  color: #262625;
  text-align: center;
  line-height: 1;
  margin-top: 45px;
}

.landing-faq__request {
  display: flex;
  justify-content: center;
  margin-top: 36px;
}

.faq-item {

}

.faq-item + .faq-item {
  margin-top: 28px;
}

.faq-item_active .faq-item__question-content {
  background: transparent;
}

.faq-item__question {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.faq-item__question::before {
  content: '';
  position: absolute;
  left: 7px;
  top: 3px;
  width: 31px;
  height: 31px;
  border: 4px solid #dbdbe1;
  z-index: 1;
}

.faq-item__question::after {
  content: '';
  position: absolute;
  left: 0;
  top: -4px;
  width: 35px;
  height: 35px;
  background: #ed3947 url('../img/icon-question.svg') no-repeat 50% 50%;
  z-index: 3;
}

.faq-item__question-content {
  padding-left: 69px;
  padding-right: 23px;
  background: #fff;
  letter-spacing: 0.025em;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: #333;
  position: relative;
  z-index: 2;
}

.faq-item__answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height .5s ease;
}

.faq-item__answer-content {
  padding-left: 69px;
  font-size: 18px;
  line-height: 20px;
  padding-top: 16px;
  padding-bottom: 16px;
}
