.landing-quiz {
  padding: 80px 0;
  @media (max-width: $breakpoint-xsmall-max) {
    padding: 60px 0;
  }
}

.landing-quiz__title {
  text-align: center;
  text-transform: uppercase;
  font-family: "Next Art", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #333;
  margin-bottom: 34px;
  @media (max-width: $breakpoint-xsmall-max) {
    margin-bottom: 20px;
  }
}

.landing-quiz__title span {
  color: #d52437;
}

.quiz {

}

.quiz-steps {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 36px 36px;
}

.quiz-steps__item {
  width: 40px;
  height: 40px;
  color: #9d9d9d;
  background: #e2e2e2;
  display: flex;
  font-size: 24px;
  font-weight: bold;
  font-family: "Next Art", sans-serif;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 4px solid white;
  margin: 0 -4px;
  position: relative;
  z-index: 1;
}

.quiz-steps__item_active {
  color: #fff;
  background: #677897;
}

.quiz-steps__item_gift::before {
  content: '';
  position: absolute;
  z-index: -1;
  left: -12px;
  right: -12px;
  top: -12px;
  bottom: -12px;
  background: #ed3947;
  border-radius: 50%;
}

.quiz-steps__item_gift svg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.quiz-steps__line {
  flex-grow: 1;
  background: #e2e2e2;
  height: 10px;
}

.quiz-steps__line_active {
  background: #677897;
}

.quiz-screens {

}

.quiz-screens__item {
  display: none;
}

.quiz-screens__item_active {
  display: block;
}

.quiz-layout {
  display: flex;
  justify-content: space-between;
}

.quiz-layout__screens {
  width: calc(100% - (350px + 40px));
}

.quiz-layout__info {
  width: 346px;
  flex-shrink: 0;
}

.quiz-info {
  padding: 44px 25px;
  background: #ececef;
  border-radius: 4px;
  min-height: 100%;
}

.quiz-info__title {
  letter-spacing: -0.01em;
  color: #000000;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  margin-bottom: 56px;
}

.quiz-info__items {
  display: flex;
  margin-left: -20px;
  margin-top: -20px;
}

.quiz-info__item {
  padding-left: 20px;
  padding-top: 20px;
  width: 50%;
}

.quiz-info__item-icon {
  width: 60px;
  height: 60px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quiz-info__item-icon img {
  display: block;
}

.quiz-info__item-title {
  font-weight: bold;
  color: #1b1b1b;
  font-size: 16px;
  line-height: 1.125;
  margin-top: 12px;
  text-align: center;
  letter-spacing: -0.025em;
}

.quiz-buttons {

}

.quiz-buttons__item {

}

.quiz-content {
  display: flex;
  justify-content: space-between;
}

.quiz-content__image {
  width: calc(50% - 10px);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
}

.quiz-content__image::before {
  content: '';
  display: block;
  position: absolute;
}

.quiz-content__image_first::before {
  background-image: url('../img/step-1.jpg');
  width: 436px;
  height: 252px;
}

.quiz-content__image_second::before {
  background-image: url('../img/step-2.jpg');
  width: 470px;
  height: 348px;
}

.quiz-content__image_third::before {
  background-image: url('../img/step-3.jpg');
  width: 348px;
  height: 312px;
}

.quiz-content__image_fourth::before {
  background-image: url('../img/step-4.jpg');
  width: 393px;
  height: 230px;
}

.quiz-content__image_fifth::before {
  background-image: url('../img/step-5.jpg');
  width: 325px;
  height: 256px;
}

.quiz-content__image_sixth::before {
  background-image: url('../img/step-6.jpg');
  width: 319px;
  height: 305px;
}

.quiz-content__form {
  width: calc(50% - 10px);
}

.quiz-form {

}

.quiz-form__title {
  display: flex;
  align-items: center;
}

.quiz-form__title-marker {
  align-self: flex-start;
  width: 35px;
  height: 35px;
  flex-shrink: 0;
  margin-right: 18px;
  color: #fff;
  font-weight: bold;
  font-size: 33px;
  font-family: "Next Art", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

.quiz-form__title-marker::before {
  content: '';
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border: 4px solid #dbdbe1;
  transform: translate(7px, 7px);
}

.quiz-form__title-marker::after {
  content: '';
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #ed3947;
}

.quiz-form__title-content {
}

.quiz-form__title-text {
  color: #0c0c0c;
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
  font-family: "Next Art", sans-serif;
}

.quiz-form__title-desc {
  color: #151618;
  font-size: 16px;
  line-height: 1;
  margin-top: 6px;
}

.quiz-form__fields {
  margin-left: 57px;
  margin-top: 39px;
}

.quiz-form__fields-label {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.quiz-form__fields-label > input {
    display: none;
}

.quiz-form__fields-label > input + span {
    width: 26px;
    height: 26px;
    flex-shrink: 0;
    border-radius: 50%;
    border: 2px solid #bcbcbc;
    background: #f7f7f7;
    position: relative;
    margin-right: 13px;
}

.quiz-form__fields-label > input:checked + span {
    border-color: #9aa6bb;
}

.quiz-form__fields-label > input:checked + span::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #ed3947;
}

.quiz-form__fields-label > input + span + span {
  font-size: 20px;
  line-height: 1;
  color: #151618;
}

.quiz-form__fields-label > input:checked + span::before + span {
  font-weight: bold;
}

.quiz-form__fields-label span input {
  height: 40px;
  width: 160px;
  padding: 0 16px;
  border: 2px solid #bcbcbc;
  border-radius: 4px;
  font-size: 14px;
  font-family: inherit;
}

.quiz-form__fields-label sup {
  font-size: 80%;
}

.quiz-form__fields-item + .quiz-form__fields-item {
  margin-top: 16px;
}

.quiz-buttons {
  display: flex;
  gap: 7px;
  margin-top: 33px;
}

.quiz-buttons__item {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000;
  font-family: "Next Art", sans-serif;
  padding: 0 20px;
  background: #f2f2f2;
  border: 2px solid #bcbcbc;
  min-height: 46px;
  border-radius: 23px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.quiz-buttons__item:hover {
  background: #d7d7d7;
}

.quiz-screens__previous::before {
  content: '';
  display: inline-block;
  width: 6px;
  height: 6px;
  border-left: 2px solid currentColor;
  border-bottom: 2px solid currentColor;
  transform: rotate(45deg);
}

.quiz-screens__next::after {
  content: '';
  display: inline-block;
  width: 6px;
  height: 6px;
  border-right: 2px solid currentColor;
  border-bottom: 2px solid currentColor;
  transform: rotate(-45deg);
}

.quiz-feedback {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-grow: 1;
  margin-top: 35px;
  padding-left: 57px;
  width: 677px;
  max-width: 100%;
}

.quiz-feedback__phone {
  flex-grow: 1;
}

.quiz-feedback__input {
  height: 52px;
  display: block;
  width: 100%;
  padding: 0 20px;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(188, 188, 188);
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
}

.quiz-feedback__submit {
  width: 328px;
  margin-left: 20px;
}

.quiz-feedback__submit .landing-button {
  padding-left: 32px;
  padding-right: 32px;
  font-size: 17px;
}

.quiz-feedback__submit .landing-button svg {
  display: inline-block;
  margin-left: 18px;
  margin-right: -6px;
}

.quiz-feedback__rules {
  display: block;
  font-size: 12px;
  color: #404040;
  line-height: 1.25;
  margin-top: 12px;
  padding-left: 24px;
  position: relative;
  cursor: pointer;
  z-index: 1;
  span {
    position: absolute;
    left: 0;
    top: -2px;
  }
  a {
    color: inherit;
    text-decoration: underline;
  }
}
