@import 'variables.scss'

.modal_callback
  .modal__container
    width: 1078px
    padding: 8% 5% 5% // 130px 175px 70px 80px
    border-radius: 0
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.35)
    @media (max-width: $breakpoint-xsmall-max)
      padding: 15px 16px 50px
  .modal__overlay
    background: rgba(0,0,0,0)

.modal
  padding: 10px
  color: #000000

.modal__overlay
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  background: rgba(0,0,0,0.6)
  display: flex
  justify-content: center
  align-items: center
  z-index: 1010

.modal__container
  border-radius: 8px
  background-color: rgb(255, 255, 255)
  box-shadow: 0px 0px 16px 0px rgba(34, 37, 40, 0.2)
  padding: 100px 50px
  width: 1155px
  max-width: calc(100% - 20px)
  max-height: calc(100vh - 20px)
  overflow-y: auto
  box-sizing: border-box
  position: relative
  &_large
    width: auto
    max-width: 1668px
  @media (max-width: $breakpoint-small-max)
    padding: 40px

.modal__close
  position: absolute
  top: 0
  right: 0
  width: 68px
  height: 68px
  cursor: pointer
  transition: all 200ms ease-out
  background: rgba(0, 0, 0, 0.302)
  color: rgba(255, 255, 255, 0.4)
  border: none
  .modal__container &
    right: 40px
    top: 40px
    @media (max-width: $breakpoint-small-max)
      right: 8px
      top: 8px
      width: 48px
      height: 48px
  &:hover
    background: rgba(0, 0, 0, 0.6)
    color: rgba(255, 255, 255, 0.6)
  &::before
    content: ''
    width: 50%
    height: 4px
    background-color: currentColor
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%) rotate(-45deg)
  &::after
    content: ''
    width: 50%
    height: 4px
    background-color: currentColor
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%) rotate(45deg)

@keyframes mmfadeIn
  from
    opacity: 0
  to
    opacity: 1

@keyframes mmfadeOut
  from
    opacity: 1
  to
    opacity: 0

@keyframes mmslideIn
  from
    transform: translateY(15%)
  to
    transform: translateY(0)

@keyframes mmslideOut
  from
    transform: translateY(0)
  to
    transform: translateY(-10%)

.modal
  display: none

.modal.is-open
  display: block

.modal[aria-hidden="false"] .modal__overlay
  animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1)

.modal[aria-hidden="false"] .modal__container
  animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1)

.modal[aria-hidden="true"] .modal__overlay
  animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1)

.modal[aria-hidden="true"] .modal__container
  animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1)

.modal .modal__container,
.modal .modal__overlay
  will-change: transform