.section-contacts {
    padding: 45px 0;
    // background: url(../img/map-bg.jpg) no-repeat 50%;
    // background-size: auto 100%;
    position: relative;
    > iframe,
    > ymaps {
		position: absolute;
		left: 0;
        top: 0;
        z-index: 10;
		width: 100% !important;
        height: 100% !important;
        filter: grayscale(100%);
    }
    .container {
        position: relative;
        z-index: 20;
    }
    @media (max-width: $breakpoint-small-max) {
        padding: 13px 0 25px;
    }
    @media (max-width: $breakpoint-xsmall-max) {
        padding: 0;
    }
}

.scheme-of-work + .section-contacts {
    @media (max-width: $breakpoint-xsmall-max) {
        background: #ed3947;
    }
}

.services-section-results + .section-contacts {
    @media (max-width: $breakpoint-xsmall-max) {
        background: url('../img/results-bg.jpg') repeat;
    }
}

.projects-cats-section + .section-contacts {
    @media (max-width: $breakpoint-xsmall-max) {
        background: #d8d8d8;
        padding-top: 37px;
    }
}

.section-contacts__bg {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 10;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

.section-contacts-grid {
    display: flex;
    flex-wrap: wrap;
    margin-left: -32px;
    @media (max-width: $breakpoint-small-max) {
        margin-left: -21px;
    }
}

.section-contacts__item {
    width: 50%;
    padding-left: 32px;
    display: flex;
    @media (max-width: $breakpoint-small-max) {
        padding-left: 21px;
    }
    @media (max-width: $breakpoint-xsmall-max) {
        width: 100%;
        &:first-child {
            order: 1;
        }
    }
}

.contacts-phones {
  display: flex;
  align-items: center;
}

.contacts-phones__list {

}

.contacts-phones__messengers {
  margin: 0 auto;
}

.contacts-messengers {
  display: flex;
}

.contacts-messengers__item {
  display: inline-block;
  color: #ffffff;
  border-radius: 50%;
  width: 42px;
  height: 42px;
  text-align: center;
  margin: 0 9px;
  position: relative;
  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  @media (max-width: $breakpoint-small-max) {
    margin: 0 4px;
  }
}

.contacts-messengers__item_telegram {
  background-color: #29a1d4;
  &:hover {
    background-color: #248db9;
  }
}

.contacts-messengers__item_whatsapp {
  background-color: #25d266;
  &:hover {
    background-color: #20b658;
  }
}

.contacts {
    padding: 40px 70px 37px;
    background-color: rgba(54, 57, 65, .8);
    height: 100%;
    flex-grow: 1;
    @media (max-width: $breakpoint-small-max) {
        padding: 29px 29px 40px;
    }
    @media (max-width: $breakpoint-xsmall-max) {
        margin-left: -10px;
        margin-right: -10px;
        background-color: #363941;
        padding: 32px 9px 15px;
    }
}

.contacts__title {
    color: #ffffff;
    font-family: "Next Art", sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 5.94px;
    @media (max-width: $breakpoint-xsmall-max) {
        font-size: 24px;
        letter-spacing: 4.75px;
    }
}

.contacts__row {
    margin: 21px 0 0;
    &:first-child {
        margin-top: 0;
    }
    @media (max-width: $breakpoint-small-max) {
          margin-top: 15px;
    }
    @media (max-width: $breakpoint-xsmall-max) {
          margin-top: 18px;
    }
}

.contacts__text {
    border-bottom: 1px solid rgba(199, 199, 199, .2);
    padding-bottom: 34px;
    margin-top: 37px;
    color: #f6f7fb;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.4px;
    ul {
        padding: 0;
        margin: 0;
        list-style: none;
        li {
            margin: 10px 0;
        }
    }
    a {
        color: inherit;
        text-decoration: underline;
    }
    p {
        margin: 0;
    }
    @media (max-width: $breakpoint-small-max) {
        margin-top: 35px;
    }
    @media (max-width: $breakpoint-xsmall-max) {
        font-size: 14px;
        margin-top: 31px;
        padding-bottom: 28px;
    }
}

.contacts__time {
    color: #8792a4;
    font-size: 16px;
    letter-spacing: 0.4px;
    line-height: 1;
    margin-top: 37px;
    a {
        color: inherit;
    }
    svg {
        vertical-align: middle;
        margin-right: 7px;
        position: relative;
        top: -2px;
    }
    @media (max-width: $breakpoint-small-max) {
        font-size: 14px;
        margin-top: 42px;
        svg {
            width: 16px;
            height: 16px;
            margin-right: 5px;
        }
    }
    @media (max-width: $breakpoint-xsmall-max) {
        margin-top: 18px;
        svg {
            width: 25px;
            height: 25px;
        }
    }
}

.contacts-form {
    display: grid;
    grid-row-gap: 22px;
    grid-column-gap: 12px;
    flex-grow: 1;
    align-self: flex-end;
    position: relative;
    @media (max-width: $breakpoint-small-max) {
        grid-row-gap: 4px;
    }
    @media (max-width: $breakpoint-xsmall-max) {
        // background: url(../img/map-bg.jpg) no-repeat 50%;
        // background-size: auto 100%;
        margin: 0 -10px;
        padding: 24px 10px 41px;
        grid-row-gap: 12px;
    }
}

.contacts-form__row {
    @media (min-width: $breakpoint-medium) {
        &:nth-child(1) {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
        }
        &:nth-child(2) {
            grid-column: 1 / 2;
            grid-row: 2 / 3;
        }
        &:nth-child(3) {
            grid-column: 1 / 2;
            grid-row: 3 / 4;
        }
        &:nth-child(4) {
            grid-column: 2 / 3;
            grid-row: 1 / 4;
        }
        &:nth-child(5) {
            grid-column: 2 / 3;
            grid-row: 4 / 5;
            display: flex;
            align-items: center;
        }
        &:nth-child(6) {
            grid-column: 1 / 2;
            grid-row: 4 / 5;
        }
    }
}

.contacts-form__rules {
    position: relative;
    color: #404040;
    font-size: 12px;
    line-height: 1.25;
    padding-left: 28px;
    display: block;
    cursor: pointer;
    margin-left: 4px;
    @media (min-width: $breakpoint-small) and (max-width: $breakpoint-small-max) {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    a {
        color: inherit;
        text-decoration: underline;
        &:hover {
            color: #000000;
        }
    }
    .form-checkbox {
        & + span {
            position: absolute;
            left: 0;
            top: 0;
        }
    }
}

.form-checkbox {
    position: absolute;
    visibility: hidden;
    width: 18px;
    height: 18px;
    display: block;
    opacity: 0;
    & + span {
        display: inline-block;
        width: 18px;
        height: 18px;
        border: 1px solid #0a0f37;
        background-color: #ffffff;
        border-radius: 2px;
        position: relative;
    }
    &:checked + span::before {
        content: '';
        height: 3px;
        width: 8px;
        border-left: 3px solid #0a0f37;
        border-bottom: 3px solid #0a0f37;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
        margin-top: -1px;
    }
    ._validation-error & + span {
        color: #f00;
        background-color: #fed8de;
        border-color: #fc3b5a;
    }
}

.form-input {
    height: 48px;
    border: 2px solid #6c7483;
    background-color: #ffffff;
    color: #505661;
    font-size: 14px;
    font-weight: 400;
    font-family: inherit;
    line-height: 1;
    letter-spacing: 0.35px;
    padding: 0 20px;
    width: 100%;
    display: block;
    ._validation-error & {
        color: #f00;
        background-color: #fed8de;
        border-color: #fc3b5a;
    }
}

.form-textarea {
    height: 48px;
    border: 2px solid #6c7483;
    background-color: #ffffff;
    color: #505661;
    font-size: 14px;
    font-weight: 400;
    font-family: inherit;
    line-height: 1;
    letter-spacing: 0.35px;
    padding: 15px 20px;
    width: 100%;
    display: block;
    ._validation-error & {
        color: #f00;
        background-color: #fed8de;
        border-color: #fc3b5a;
    }
}

.form-submit {
    display: inline-block;
    color: #fefeff;
    font-family: "Next Art", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 21.6px;
    text-transform: uppercase;
    letter-spacing: .8px;
    border: 3px solid #d52437;
    line-height: 50px;
    height: 56px;
    border-radius: 28px;
    background: transparent;
    cursor: pointer;
    padding-right: 90px;
    padding-left: 35px;
    position: relative;
    overflow: hidden;
    span {
        &:nth-child(1) {
            position: absolute;
            z-index: 1;
            width: calc(100% - 64px);
            height: 100%;
            left: 0;
            top: 0;
            background: #d52437;
            transition: width .3s ease, background .8s ease;
        }
        &:nth-child(2) {
            position: relative;
            z-index: 2;
        }
    }
    &::before {
        content: '';
        right: 61px;
        top: 0;
        height: 100%;
        position: absolute;
        width: 3px;
        background: #d52437;
        z-index: 2;
    }
    &::after {
        content: '';
        width: 10px;
        height: 10px;
        position: absolute;
        right: 30px;
        top: 50%;
        transform: translateY(-50%) rotate(-45deg);
        border-right: 3px solid #d52437;
        border-bottom: 3px solid #d52437;
        z-index: 2;
        transition: border-color .3s ease;
    }
    &:hover {
        span:nth-child(1) {
            width: 100%;
            background: #f9152e;
        }
        &::after {
            border-right-color: #fff;
            border-bottom-color: #fff;
        }
    }
}

.form-submit-holey {
    display: inline-block;
    color: #fefeff;
    font-family: "Next Art", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 21.6px;
    text-transform: uppercase;
    letter-spacing: .8px;
    border: 3px solid transparent;
    line-height: 50px;
    height: 56px;
    border-radius: 28px;
    background: transparent;
    cursor: pointer;
    padding-right: 90px;
    padding-left: 35px;
    position: relative;
    overflow: hidden;
    transition: border-color .3s ease;
    span {
        &:nth-child(1) {
            position: absolute;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                width: calc(100% - 71px);
                background: #d52437;
                transition: background .3s ease;
            }
            &::after {
                content: '';
                position: absolute;
                right: 0;
                top: 0;
                height: 100%;
                width: 68px;
                background: #d52437;
                transition: background .3s ease;
            }
        }
        &:nth-child(2) {
            position: relative;
            z-index: 2;
        }
    }
    &::before {
        content: '';
        right: 68px;
        top: 0;
        height: 100%;
        position: absolute;
        width: 3px;
        background: transparent;
        z-index: 2;
        transition: background .3s ease;
    }
    &::after {
        content: '';
        width: 10px;
        height: 10px;
        position: absolute;
        right: 34px;
        top: 50%;
        transform: translateY(-50%) rotate(-45deg);
        border-right: 3px solid currentColor;
        border-bottom: 3px solid currentColor;
        z-index: 2;
        transition: border-color .3s ease;
    }
    &:hover {
        border-color: #d52437;
        &::before {
            background: #d52437;
        }
        span:nth-child(1) {
            &::before {
                background: #f9152e;
            }
            &::after {
                background: #f9152e;
            }
        }
    }
}

.wpcf7-form-control-wrap {
    position: relative;
    display: inline-block;
    width: 100%;
}

.form-error {
    border-radius: 2px;
    padding: 16px 20px;
    background-color: #f9152e;
    letter-spacing: -0.005em;
    font-size: 14px;
    line-height: 1;
    color: #fff;
    position: absolute;
    right: 0;
    top: calc(100% + 5px);
    width: 200px;
    z-index: 120;
    &::after {
        content: '';
        right: 10px;
        top: -10px;
        position: absolute;
        border-top: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #f9152e;
    }
}

.form-error__close {
    color: #fff;
    position: absolute;
    right: 5px;
    top: 5px;
    width: 12px;
    height: 12px;
    cursor: pointer;
    &::before {
        content: '';
        width: 10px;
        height: 2px;
        background: currentColor;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
    }
    &::after {
        content: '';
        width: 10px;
        height: 2px;
        background: currentColor;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
    }
    &:hover {
        background-color: rgba(0,0,0,.2);
    }
}

.section-contacts-call {
    background-color: rgb(255, 252, 252);
    box-shadow: 0.5px 0.866px 21px 0px rgba(0, 0, 0, 0.14);
    padding: 50px;
    @media (max-width: $breakpoint-small-max) {
        padding: 30px;
    }
    @media (max-width: $breakpoint-xsmall-max) {
        padding: 15px;
    }
}

.section-contacts-call__title {
    font-family: "Next Art", sans-serif;
    font-size: 30px;
    line-height: 1;
    letter-spacing: 0.01em;
    font-weight: bold;
    color: #333333;
    @media (max-width: $breakpoint-small-max) {
        font-size: 28px;
    }
    @media (max-width: $breakpoint-xsmall-max) {
        font-size: 24px;
    }
}

.section-contacts-call__desc {
    font-size: 16px;
    color: #484848;
    line-height: 1.125;
    margin-top: 14px;
    @media (max-width: $breakpoint-xsmall-max) {
        margin-top: 17px;
        font-size: 14px;
    }
}

.section-contacts-call__form {
    background-color: #5d6270;
    padding: 46px 35px 28px 100px;
    margin-top: 20px;
    display: grid;
    grid-gap: 8px;
    grid-template-columns: 1fr 1fr auto;
    align-items: center;
    > div {
        &:nth-child(1) {

        }
        &:nth-child(2) {

        }
        &:nth-child(3) {

        }
        &:nth-child(4) {
            grid-column: 1 / 4;
        }
    }
    @media (max-width: $breakpoint-small-max) {
        margin-top: 10px;
        padding: 30px 40px 20px 37px;
        grid-template-columns: auto auto;
        > div {
            &:nth-child(1) {
                grid-column: 1 / 2;
                grid-row: 1 / 2;
            }
            &:nth-child(2) {
                grid-column: 2 / 3;
                grid-row: 1 / 2;
            }
            &:nth-child(3) {
                grid-column: 2 / 3;
                grid-row: 2 / 3;
                display: flex;
                justify-content: flex-end;
            }
            &:nth-child(4) {
                grid-column: 1 / 2;
                grid-row: 2 / 3;
            }
        }
    }
    @media (max-width: $breakpoint-xsmall-max) {
        margin-top: 18px;
        padding: 15px 9px 13px;
        grid-template-columns: auto;
        > div {
            &:nth-child(1) {
                grid-column: 1 / 2;
                grid-row: 1 / 2;
            }
            &:nth-child(2) {
                grid-column: 1 / 2;
                grid-row: 2 / 3;
            }
            &:nth-child(3) {
                grid-column: 1 / 2;
                grid-row: 4 / 5;
                justify-content: center;
            }
            &:nth-child(4) {
                grid-column: 1 / 2;
                grid-row: 3 / 4;
            }
        }
    }
}

.section-contacts-call__rules {
    font-size: 12px;
    line-height: 1;
    color: #7e8798;
    margin-top: 5px;
    display: block;
    position: relative;
    padding-left: 28px;
    a {
        color: #929db0;
        text-decoration: underline;
    }
    .form-checkbox {
        & + span {
            position: absolute;
            left: 0;
            top: -4px;
            @media (max-width: $breakpoint-xsmall-max) {
                top: 0;
            }
        }
    }
}
