.single-headline {
    background-color: #e8e8e8;
    padding: 28px 0 24px;
    @media (max-width: $breakpoint-small-max) {
        padding: 18px 0 14px;
    }
    @media (max-width: $breakpoint-xsmall-max) {
        padding: 7px 0 8px;
    }
}

.single-headline__date {
    color: #ffffff;
    font-family: "Next Art", sans-serif;
    font-size: 130px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: -2.38px;
    float: left;
    position: relative;
    margin-right: 36px;
    margin-top: -3px;
    span {
        color: #8a8a8a;
        font-size: 18px;
        line-height: 1;
        text-transform: lowercase;
        letter-spacing: 0;
        position: absolute;
        right: 0;
        bottom: 10px;
    }
    @media (max-width: $breakpoint-small-max) {
        font-size: 76px;
        margin-right: 16px;
        span {
            font-size: 11px;
            bottom: 5px;
        }
    }
    @media (max-width: $breakpoint-xsmall-max) {
        font-size: 66px;
        span {
            font-size: 12px;
        }
    }
}

.single-headline__title {
    color: #fefefe;
    font-family: "Next Art", sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    text-transform: uppercase;
    letter-spacing: 0.48px;
    overflow: hidden;
    span {
        background-color: rgba(28, 30, 33, 0.5);
        padding: 0 5px;
    }
    @media (max-width: $breakpoint-small-max) {
        font-size: 28px;
        line-height: 36px;
    }
    @media (max-width: $breakpoint-xsmall-max) {
        font-size: 32px;
        line-height: 1;
    }
}

.bg-category-name {
    position: absolute;
    top: 395px;
    left: 65%;
    width: fit-content;
    font-size: 110px;
    font-family: "Next Art", sans-serif;
    font-weight: 600;
    color: #afbcce;
    letter-spacing: 0.01em;
    opacity: .2;
    text-transform: uppercase;
    @media (max-width: $breakpoint-medium-max) {
        display: none;
    }
}

.news-details__entry {
    position: relative;
    margin-bottom: 125px;
    img {
        display: block;
        width: 100%;
        height: auto;
    }
    &::after {
        position: absolute;
        bottom: -70px;
        right: -70px;
        display: block;
        content: '';
        width: 360px;
        height: 360px;
        border: 16px solid #ededed;
        box-sizing: border-box;
        z-index: -1;
    }
    @media (max-width: $breakpoint-small-max) {
        margin-bottom: 65px;
        &::after {
            bottom: -35px;
            right: -35px;
            width: 310px;
            height: 310px;
            border: 14px solid #ededed;
        }
    }
    @media (max-width: $breakpoint-xsmall-max) {
        margin: 0 -10px 70px;
        &::after {
            bottom: -25px;
            right: -25px;
            width: 210px;
            height: 210px;
        }
    }
}

.vertical-social {
    z-index: 10;
}

.type-news-date-author-comments-num {
    display: flex;
    justify-content: space-between;
    padding: 35px 0 30px;
    @media (max-width: $breakpoint-small-max) {
        padding: 10px 0;
    }
}

.type-news {
    display: flex;
    align-items: center;
    font-size: 12px;
    letter-spacing: 0.025em;
    text-transform: uppercase;
    text-decoration: none;
    color: #b6b6b6;
    flex-grow: 8;
    a {
        color: inherit;
        text-decoration: none;
    }
    svg {
        margin-right: 8px;
    }
}

.type-news a:hover {
    color: #ed3947;
}

.date-author-comments-num {
    flex-grow: 10;
    display: flex;
    justify-content: space-between;
    span {
        display: flex;
        align-items: center;
        font-size: 12px;
        letter-spacing: 0.025em;
        color: #b6b6b6;
        text-decoration: none;
        svg {
            margin-right: 8px;
        }
    }
    @media (max-width: $breakpoint-xsmall-max) {
        flex-grow: initial;
        span:nth-child(1),
        span:nth-child(2) {
            display: none;
        }
    }
}

.news-details__tags {
    display: flex;
    flex-wrap: wrap;
    margin: 58px 10px;
    @media (max-width: $breakpoint-xsmall-max) {
        a {
            height: fit-content;
            font-size: 14px;
            line-height: 20px;
            margin-right: 10px;
            margin-bottom: 4px;
        }
        a::after {
            left: -7px;
            width: 14px;
            height: 14px;
        }
    }
}

.news-details__tags a {
    position: relative;
    padding: 0 8px 0 2px;
    margin-right: 22px;
    margin-bottom: 6px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.025em;
    background-color: #1d1e21;
    color: #b6b6b6;
    text-decoration: none;
}

.news-details__tags a:hover {
    color: #fff;
    background-color: #000;
}

.news-details__tags a::before {
    content: '#';
}

.news-details__tags a::after {
    position: absolute;
    top: 50%;
    transform: rotate(45deg) translateY(-50%);
    left: -8px;
    display: block;
    content: "";
    width: 16px;
    height: 16px;
    background-color: #1d1e21;
    z-index: -1;
    transform-origin: 50% 0;
}

.news-details__tags a:hover::after {
    background-color: #000;
}

.article-foot__inner {
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
    @media (max-width: $breakpoint-small-max) {
        padding: 10px 0;
    }
    @media (max-width: $breakpoint-xsmall-max) {
        display: block;
        margin: 0 -10px;
        padding-left: 10px;
        padding-right: 10px;
    }
}

.article-foot__social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: $breakpoint-xsmall-max) {
        flex-wrap: wrap;
        width: 100%;
    }
    p {
        margin-right: 22px;
        color: #666;
        font-size: 18px;
        @media (max-width: $breakpoint-small-max) {
            font-size: 14px;
            margin-right: 10px;
        }
        @media (max-width: $breakpoint-xsmall-max) {
            width: 100%;
            margin-bottom: 14px;
        }
    }
    .ya-share2__container_size_m .ya-share2__icon {
        height: 36px;
        width: 36px;
        @media (max-width: $breakpoint-small-max) {
            height: 32px;
            width: 32px;
        }
    }
    .ya-share2__badge {
        border-radius: 50%;
        transition: transform .3s ease;
        &:hover {
            transform: scale(1.1);
        }
    }
    .ya-share2__container_size_m .ya-share2__item {
        margin: 0 10px 0 0;
    }
}

.article-foot__comments {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 0.025em;
    color: #b6b6b6;
    svg {
        margin-right: 8px;
    }
    @media (max-width: $breakpoint-xsmall-max) {
        display: none;
    }
}

.article-foot__neighbors {
    display: flex;
    align-items: center;
    justify-content: space-between;
    a {
        color: #afafaf;
        font-family: "Next Art", sans-serif;
        font-size: 12px;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 7.1px;
        width: auto;
        height: 34px;
        min-height: 34px;
        line-height: 34px;
        min-width: initial;
        background-color: #1d1e21;
        border-radius: 17px;
        padding: 0 24px;
        text-decoration: none;
        display: block;
        position: relative;
        margin: 0 10px;
        &:hover {
            color: #ffffff;
        }
        &:active {
            background-color: #430707;
        }
        &[rel="prev"] {
            &::before {
                content: '';
                position: absolute;
                height: 1px;
                width: 22px;
                background: #707071;
                left: -15px;
                top: 50%;
                transform: translateY(-50%);
            }
            &::after {
                content: '';
                position: absolute;
                height: 10px;
                width: 10px;
                border-left: 1px solid #707071;
                border-bottom: 1px solid #707071;
                left: -15px;
                top: 50%;
                transform: translateY(-50%) rotate(45deg);
            }
        }
        &[rel="next"] {
            &::before {
                content: '';
                position: absolute;
                height: 1px;
                width: 22px;
                background: #707071;
                right: -15px;
                top: 50%;
                transform: translateY(-50%);
            }
            &::after {
                content: '';
                position: absolute;
                height: 10px;
                width: 10px;
                border-right: 1px solid #707071;
                border-bottom: 1px solid #707071;
                right: -15px;
                top: 50%;
                transform: translateY(-50%) rotate(-45deg);
            }
        }
    }
    @media (max-width: $breakpoint-small-max) {
        a {
            font-size: 11px;
            letter-spacing: 5.5px;
            margin: 0 2px;
            height: 30px;
            min-height: 30px;
            line-height: 30px;
            padding: 0 8px;
            border-radius: 15px;
        }
    }
    @media (max-width: $breakpoint-xsmall-max) {
        border-top: 1px solid #efefef;
        margin: 15px -10px 0;
        padding-top: 15px;
        padding-left: 20px;
        padding-right: 20px;
        a {
            color: #afafaf;
            background: transparent;
            letter-spacing: 4.4px;
            margin: 0;
            i {
                width: 9px;
                height: 9px;
                background-color: #1d1e21;
                border-radius: 50%;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
            }
            &[rel=prev] {
                &::before {
                    width: 15px;
                }
                i {
                    left: -1px;
                }
            }
            &[rel=next] {
                &::before {
                    width: 15px;
                }
                i {
                    right: -1px;
                }
            }
        }
    }
}

.interested-news {
    padding: 55px 0 35px;
    &_dark {
        background-color: #363941;
    }
    @media (max-width: $breakpoint-small-max) {
        margin: 28px 0;
    }
    @media (max-width: $breakpoint-xsmall-max) {
        margin: 20px 0;
    }
}

.interested-news__title {
    color: #414141;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 28px;
    .interested-news & {
        color: #cacaca;
    }
    @media (max-width: $breakpoint-small-max) {
        font-size: 22px;
    }
    @media (max-width: $breakpoint-xsmall-max) {
        margin-bottom: 12px;
    }
}

.interested-news__grid {
    display: flex;
    flex-wrap: wrap;
    margin-top: -12px;
    margin-left: -30px;
    @media (max-width: $breakpoint-small-max) {
        margin-left: -10px;
    }
}

.interested-news__cell {
    width: 33.33%;
    padding-left: 30px;
    margin-top: 12px;
    @media (max-width: $breakpoint-small-max) {
        padding-left: 10px;
    }
    @media (max-width: $breakpoint-xsmall-max) {
        width: 100%;
    }
}

.interested-news-item {
    padding: 25px;
    position: relative;
    @media (max-width: $breakpoint-small-max) {
        padding: 26px 16px;
    }
    > * {
        position: relative;
        z-index: 10;
    }
    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        border: 2px solid #f4f4f4;
        background-color: #f9f9f9;
        transition: all ease .5s;
    }
}

.interested-news-item:hover::before {
    box-shadow: 1px 1px 21px rgba(0, 0, 0, 0.14);
    background-color: #ffffff;
    border-color: transparent;
    transform: scale(1.1);
    @media (max-width: $breakpoint-small-max) {
        transform: scale(1.04);
    }
}

.interested-news-item__date {
    padding-bottom: 6px;
    font-size: 12px;
    color: #999999;
    a {
        color: inherit;
        text-decoration: none;
    }
}

.interested-news-item__date::before {
    display: none;
}

.interested-news-item__title {
    display: block;
    text-decoration: none;
    cursor: pointer;
    margin-bottom: 17px;
}

.interested-news-item__title h4 {
    padding-bottom: 11px;
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    text-transform: uppercase;
    color: #000;
}

.interested-news-item__title:hover h4 {
    padding-bottom: 8px;
}

.interested-news-item__title hr {
    display: none;
    width: 64px;
    height: 3px;
    background-color: #f9152e;
    border: none;
}

.interested-news-item__title:hover hr {
    display: block;
}

.interested-news-item__desc {
    padding-bottom: 25px;
    font-size: 14px;
    line-height: 18px;
    color: #666666;
    font-weight: normal;
    @media (max-width: $breakpoint-small-max) {
        display: none;
    }
}

.interested-news-item__image {
    width: 100%;
    height: auto;
    display: block;
}

.comments {
    background-color: #f1f4f6;
    padding: 45px 0;
    h3#comments {
        font-size: 24px;
        font-weight: bold;
        letter-spacing: 0.005em;
        text-transform: uppercase;
        color: #999999;
        padding-bottom: 25px;
        border-bottom: 1px solid #e7e7e7;
    }
    @media (max-width: $breakpoint-small-max) {
        padding-top: 28px;
        padding-bottom: 10px;
        h3#comments {
            font-size: 18px;
            padding-bottom: 20px;
        }
    }
    @media (max-width: $breakpoint-xsmall-max) {
        padding-top: 25px;
        padding-bottom: 0;
    }
}

.commentlist {
    margin: 35px 0 55px;
    padding: 0;
    list-style: none;
    ul {
        margin: 0 0 0 100px;
        padding: 0;
        list-style: none;
    }
    @media (max-width: $breakpoint-small-max) {
        margin: 20px 0;
        ul {
            margin-left: 60px;
        }
    }
    @media (max-width: $breakpoint-xsmall-max) {
        margin: 32px 0;
        ul {
            margin-left: 12px;
        }
    }
}

.comment {
    margin: 20px 0;
}

.comment-body {
    position: relative;
    color: #000000;
    font-size: 16px;
    line-height: 1.5;
    .reply {
        margin-top: 10px;
        a {
            color: #23a6f8;
            font-size: 16px;
            text-decoration: underline;
            &:hover {
                color: #ed3947;
            }
        }
    }
    @media (max-width: $breakpoint-xsmall-max) {
        font-size: 14px;
        line-height: 1.286;
        .reply {
            margin-top: 5px;
            a {
                font-size: 14px;
            }
        }
    }
}

.comment-author {
    display: flex;
    align-items: center;
    color: #a8aaa9;
    font-size: 14px;
    letter-spacing: 0.7px;
    margin-bottom: 5px;
    img {
        margin-right: 10px;
        border: 1px solid #c4c4c4;
    }
}

.comment-meta {
    position: absolute;
    right: 0;
    top: 8px;
    color: #333333;
    font-size: 12px;
    letter-spacing: 0.6px;
    a {
        text-decoration: none;
        color: #333333;
    }
}

.comment-respond {
    padding: 75px 120px;
    background-color: #e5e8ea;
    @media (max-width: $breakpoint-small-max) {
        padding: 50px 25px;
    }
    @media (max-width: $breakpoint-xsmall-max) {
        padding: 40px 20px;
        margin: 0 -10px;
    }
}

.comment-reply-title {
    color: #666666;
    font-size: 24px;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 40px;
    @media (max-width: $breakpoint-small-max) {
        font-size: 20px;
        margin-bottom: 30px;
    }
}

.comment-form {

}

.logged-in-as,
.comment-notes {
    color: #666666;
    font-size: 14px;
    letter-spacing: 0.35px;
    a {
        color: inherit;
    }
}

.comment-form-comment,
.comment-form-author,
.comment-form-email,
.comment-form-url
.comment-form-cookies-consent,
.comment-form-url {
    margin: 15px 0;
    label {
        display: block;
        color: #333333;
        font-size: 14px;
        font-weight: 400;
        line-height: 1;
        margin-bottom: 5px;
    }
    input {
        height: 41px;
        border: 1px solid #e0e0e0;
        background-color: #ffffff;
        padding: 0 12px;
        color: #666666;
        font-size: 14px;
        line-height: 40px;
        letter-spacing: 0.35px;
        width: 100%;
        font-family: inherit;
    }
    textarea {
        border: 1px solid #e0e0e0;
        background-color: #ffffff;
        padding: 12px;
        color: #666666;
        font-size: 14px;
        line-height: 1;
        letter-spacing: 0.35px;
        width: 100%;
        font-family: inherit;
    }
}

.form-submit .submit {
    display: inline-block;
    color: #fefeff;
    font-family: "Next Art", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 21.6px;
    text-transform: uppercase;
    letter-spacing: .8px;
    border: 3px solid #d52437;
    line-height: 50px;
    height: 56px;
    border-radius: 28px;
    background: transparent;
    cursor: pointer;
    padding-right: 90px;
    padding-left: 35px;
    position: relative;
    overflow: hidden;
    span {
        &:nth-child(1) {
            position: absolute;
            z-index: 1;
            width: calc(100% - 64px);
            height: 100%;
            left: 0;
            top: 0;
            background: #d52437;
            transition: width .3s ease, background .8s ease;
        }
        &:nth-child(2) {
            position: relative;
            z-index: 2;
        }
    }
    &::before {
        content: '';
        right: 61px;
        top: 0;
        height: 100%;
        position: absolute;
        width: 3px;
        background: #d52437;
        z-index: 2;
    }
    &::after {
        content: '';
        width: 10px;
        height: 10px;
        position: absolute;
        right: 30px;
        top: 50%;
        transform: translateY(-50%) rotate(-45deg);
        border-right: 3px solid #d52437;
        border-bottom: 3px solid #d52437;
        z-index: 2;
        transition: border-color .3s ease;
    }
    &:hover {
        span:nth-child(1) {
            width: 100%;
            background: #f9152e;
        }
        &::after {
            border-right-color: #fff;
            border-bottom-color: #fff;
        }
    }
}