.project-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #b6b6b6;
    font-size: 12px;
    line-height: 2;
    margin: 33px 0;
    width: calc(100% - 200px);
    svg {
        margin-right: 6px;
        display: inline-block;
        vertical-align: middle;
        top: -1px;
        position: relative;
    }
    a {
        text-decoration: none;
        color: inherit;
        &:hover {
            color: #ed3947;
        }
    }
}

.project-meta__category {
 
}

.project-meta__date {

}

.project-meta__arrows {

}

.project-layout {
    display: flex;
    flex-wrap: wrap;
    .tns-ovh {
        overflow: hidden;
    }
    .tns-liveregion {
        display: none;
    }
    .tns-outer {
        width: 100%;
    }
}

.project-layout__left {
    width: calc(100% - 200px);
}

.project-layout__right {
    width: 165px;
    margin-left: 35px;
}

.project-gallery {
    display: flex;
}

.project-gallery-item {
    display: inline-block;
    vertical-align: top;
    white-space: normal;
    width: 100%;
    img {
        width: 100%;
    }
}

.project-gallery-item__inner {
    padding-bottom: 60%;
    position: relative;
    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.project-gallery-layout {
    display: flex;
}

.project-gallery-layout__left {
    min-width: calc(100% - 195px);
}

.project-gallery-layout__right {
    min-width: 155px;
    margin-left: 35px;
    position: relative;
}

.project-gallery-nav__next {
    position: absolute;
    bottom: 0;
    left: 0;
    display: none;
}

.project-gallery-nav__prev {
    top: 0;
    left: 0;
    position: absolute;
    display: none;
}

.project-gallery-nav {
    position: relative;
}

.project-gallery-nav__item {
    border: 2px solid #f2f2f2;
    padding: 4px;
    img {
        display: block;
        width: 100%;
        height: auto;
    }
    &:hover {
        border-color: #dcdcdc;
    }
    &.tns-nav-active {
        border-color: #d52437;
    }
}
