@import 'variables.scss';

.slideshow {
    position: relative;
    border-bottom: 84px solid #2f2f2f;
    @media (max-width: $breakpoint-medium-max) {
        border-bottom-width: 44px;
    }
    @media (max-width: $breakpoint-xsmall-max) {
        border-bottom: none;
    }
}

.slideshow__down {
    position: absolute;
    width: 84px;
    height: 84px;
    bottom: -36px;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
    background-color: rgba(29,30,33,.2);
    border-radius: 50%;
    border: 1px solid transparent;
    z-index: 10;
    &:hover {
        border-color: #4f5054;
        background-color: rgba(29, 30, 33, 0.5);
    }
    &::before {
        content: '';
        width: 3px;
        height: 52px;
        background-color: #ffffff;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    &::after {
        content: '';
        width: 10px;
        height: 10px;
        border-left: 3px solid #fff;
        border-bottom: 3px solid #fff;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
        margin-top: 20px;
    }
    @media (max-width: $breakpoint-medium-max) {
        bottom: -18px;
        width: 44px;
        height: 44px;
        &::before {
            height: 28px;
        }
        &::after {
            margin-top: 6px;
        }
    }
    @media (max-width: $breakpoint-xsmall-max) {
        display: none;
    }
}

.slideshow-slide {
    display: inline-block;
    vertical-align: top;
    white-space: normal;
    position: relative;
    width: 100%;
    height: 725px;
    background-size: cover;
    background-position: 50% 50%;
    @media (max-width: $breakpoint-medium-max) {
        height: 366px;
    }
    @media (max-width: $breakpoint-xsmall-max) {
        height: 312px;
    }
}

.slideshow-slide__container {
    position: relative;
    display: flex;
    height: 100%;
    align-items: center;
}

.slideshow-slide__info {
}

.slideshow-slide__price {
    height: 45px;
    margin-bottom: 28px;
    padding: 0 12px 0 17px;
    border-radius: 22px;
    font-size: 25.85px;
    letter-spacing: 0.02em;
    background: rgba(28, 30, 33, 1);
    color: rgba(255, 255, 255, 1);
    text-align: center;
    line-height: 1;
    display: flex;
    align-items: center;
    float: right;
    @media (max-width: $breakpoint-medium-max) {
        font-size: 13px;
        padding: 0 5px 0 8px;
        margin-bottom: 14px;
        height: 25px;
    }
}

.slideshow-slide__title {
    font-family: "Next Art", sans-serif;
    text-transform: uppercase;
    margin-bottom: 16px;
    font-size: 60px;
    letter-spacing: 0.1em;
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 70px;
    clear: both;
    span {
        background: rgba(28, 30, 33, 0.5);
        display: inline-block;
        padding: 0 10px;
    }
    @media (max-width: $breakpoint-medium-max) {
        font-size: 31px;
        line-height: 37px;
        margin-bottom: 8px;
        span {
            padding: 0 6px;
        }
    }
    @media (max-width: $breakpoint-xsmall-max) {
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 5px;
        span {
            padding: 0 4px;
        }
    }
}

.slideshow-slide__subtitle {
    font-family: "Next Art", sans-serif;
    text-transform: uppercase;
    margin-bottom: 66px;
    font-size: 36px;
    letter-spacing: 0.2em;
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 50px;
    clear: both;
    span {
        background: rgba(28, 30, 33, 0.5);
        display: inline-block;
        padding: 0 10px;
    }
    @media (max-width: $breakpoint-medium-max) {
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 27px;
        span {
            padding: 0 6px;
        }
    }
    @media (max-width: $breakpoint-xsmall-max) {
        font-size: 14px;
        line-height: 21px;
        margin-bottom: 18px;
        span {
            padding: 0 4px;
        }
    }
}

.slideshow-slide__url {
    display: flex;
    width: fit-content;
    text-decoration: none;
    p {
        width: fit-content;
        height: 73px;
        padding: 0 38px;
        line-height: 68px;
        border: 4px solid #d52437;
        border-top-left-radius: 36px;
        border-bottom-left-radius: 36px;
        color: #fff;
        font-family: "Next Art", sans-serif;
        font-weight: bold;
        font-size: 18px;
        text-decoration: none;
        letter-spacing: 0.2em;
    }
    span {
        position: relative;
        display: block;
        width: 69px;
        height: 73px;
        background-color: #d52437;
        border-top-right-radius: 36px;
        border-bottom-right-radius: 36px;
        &::after {
            content: '';
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%) rotate(-45deg);
            margin-left: -6px;
            width: 12px;
            height: 12px;
            display: block;
            border-right: 4px solid #ffffff;
            border-bottom: 4px solid #ffffff;
        }
    }
    @media (max-width: $breakpoint-medium-max) {
        p {
            height: 48px;
            padding: 0 22px;
            font-size: 14px;
            border-top-left-radius: 24px;
            border-bottom-left-radius: 24px;
            line-height: 40px;
        }
        span {
            width: 46px;
            height: 48px;
            border-top-right-radius: 24px;
            border-bottom-right-radius: 24px;
            &::after {
                margin-left: -4px;
                width: 10px;
                height: 10px;
                border-right: 3px solid #ffffff;
                border-bottom: 3px solid #ffffff;
            }
        }
    }
}

.slideshow .tns-liveregion {
    display: none;
}

.slideshow .tns-nav {
    position: absolute;
    top: 50%;
    right: 73px;
    transform: translateY(-50%);
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    button {
        width: 11px;
        height: 11px;
        background-color: #ffffff;
        opacity: 0.8;
        border-radius: 50%;
        cursor: pointer;
        margin-bottom: 30px;
        border: none;
        &:last-child {
            margin-bottom: 0;
        }
        &.tns-nav-active {
            width: 25px;
            height: 25px;
            background-color: transparent;
            border: 2px solid #ff394f;
        }
    }
    @media (max-width: $breakpoint-medium-max) {
        button {
            width: 7px;
            height: 7px;
            margin-bottom: 10px;
            &.tns-nav-active {
                width: 14px;
                height: 14px;
                border: 1px solid #ff394f;
            }
        }
    }
    @media (max-width: $breakpoint-xsmall-max) {
        display: none;
    }
}

.slideshow-nav {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 22px;
    left: 10px;
    @media (min-width: 1506px) {
        left: calc(50% - 743px);
    }
    @media (max-width: $breakpoint-medium-max) {
        bottom: 10px;
    }
    @media (max-width: $breakpoint-xsmall-max) {
        bottom: 8px;
        left: 50%;
        transform: translateX(-50%);
    }
}

.slideshow-nav__previous {
    width: 31px;
    height: 22px;
    position: relative;
    cursor: pointer;
    border: none;
    padding: 0;
    background: transparent;
    &::before {
        content: '';
        width: 100%;
        height: 3px;
        background-color: #ffffff;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        position: absolute;
    }
    &::after {
        content: '';
        width: 12px;
        height: 12px;
        border-left: 3px solid #ffffff;
        border-bottom: 3px solid #ffffff;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
    }
    @media (max-width: $breakpoint-medium-max) {
        width: 17px;
        height: 11px;
        &::before {
            height: 2px;
        }
        &::after {
            width: 8px;
            height: 8px;
            border-left: 2px solid #ffffff;
            border-bottom: 2px solid #ffffff;
        }
    }
}

.slideshow-nav__text {
    height: 58px;
    background-color: #1d1e21;
    padding: 0 18px;
    border-radius: 29px;
    display: flex;
    align-items: center;
    margin: 0 15px;
    span {
        &:nth-child(1) {
            color: #ffffff;
            font-family: "Next Art", sans-serif;
            font-size: 36px;
            font-weight: 600;
            text-transform: uppercase;
        }
        &:nth-child(2) {
            font-family: "Next Art", sans-serif;
            color: #afafaf;
            font-size: 36px;
            font-weight: 400;
            text-transform: uppercase;
            margin: 0 7px;
        }
        &:nth-child(3) {
            font-family: "Next Art", sans-serif;
            color: #afafaf;
            font-size: 24px;
            font-weight: 400;
            text-transform: uppercase;
            padding-top: 4px;
        }
    }
    @media (max-width: $breakpoint-medium-max) {
        margin: 0 10px;
        border-radius: 15px;
        padding: 0 10px;
        height: 31px;
        span {
            &:nth-child(1) {
                font-size: 18px;
                font-weight: 600;
            }
            &:nth-child(2) {
                font-size: 18px;
                margin: 0 7px;
            }
            &:nth-child(3) {
                font-size: 12px;
                padding-top: 2px;
            }
        }
    }
}

.slideshow-nav__next {
    width: 31px;
    height: 22px;
    position: relative;
    cursor: pointer;
    border: none;
    padding: 0;
    background: transparent;
    &::before {
        content: '';
        width: 100%;
        height: 3px;
        background-color: #ffffff;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        position: absolute;
    }
    &::after {
        content: '';
        width: 12px;
        height: 12px;
        border-right: 3px solid #ffffff;
        border-bottom: 3px solid #ffffff;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%) rotate(-45deg);
    }
    @media (max-width: $breakpoint-medium-max) {
        width: 17px;
        height: 11px;
        &::before {
            height: 2px;
        }
        &::after {
            width: 8px;
            height: 8px;
            border-right: 2px solid #ffffff;
            border-bottom: 2px solid #ffffff;
        }
    }
}
