.projects-section {
	background: #363941 url('../img/our-work-section-bg.jpg') no-repeat 50% 0;
	background-size: 100% auto;
	padding-top: 55px;
	padding-bottom: 64px;
    @media (max-width: $breakpoint-small-max) {
		padding-top: 41px;
		padding-bottom: 32px;
    }
    @media (max-width: $breakpoint-xsmall-max) {
        padding-top: 19px;
        padding-bottom: 10px;
    }
}

.projects-section__text {
	font-size: 18px;
	line-height: 1.45;
	color: #fff;
    margin-bottom: 46px;
    @media (max-width: $breakpoint-small-max) {
		line-height: 1.125;
		font-size: 16px;
		margin-bottom: 29px;
    }
    @media (max-width: $breakpoint-xsmall-max) {
	    font-size: 18px;
	    line-height: 1.16;
	    margin-bottom: 16px;
    }
}

.projects-section__grid {
	margin-left: -30px;
	margin-top: -40px;
	display: flex;
	flex-wrap: wrap;
    @media (max-width: $breakpoint-small-max) {
		margin-left: -18px;
		margin-top: -18px;
    }
    @media (max-width: $breakpoint-xsmall-max) {
		margin-left: -8px;
		margin-top: -8px;
    }
}

.projects-section__cell {
	padding-top: 40px;
	padding-left: 30px;
	width: 50%;
    @media (max-width: $breakpoint-small-max) {
		padding-top: 18px;
		padding-left: 18px;
    }
    @media (max-width: $breakpoint-xsmall-max) {
		padding-top: 8px;
		padding-left: 8px;
		width: 100%;
    }
}

.projects-cats-section {
	background: #ffffff;
	padding-top: 51px;
	padding-bottom: 90px;
    @media (max-width: $breakpoint-small-max) {
		padding-top: 41px;
		padding-bottom: 32px;
    }
    @media (max-width: $breakpoint-xsmall-max) {
        padding-top: 19px;
        padding-bottom: 10px;
    }
}

.projects-cats-section__text {
	font-size: 18px;
	line-height: 1.45;
	color: #000000;
    margin-bottom: 49px;
    @media (max-width: $breakpoint-small-max) {
		line-height: 1.125;
		font-size: 16px;
		margin-bottom: 29px;
    }
    @media (max-width: $breakpoint-xsmall-max) {
	    font-size: 18px;
	    line-height: 1.16;
	    margin-bottom: 16px;
    }
}

.projects-cats-section__grid {
	margin-left: -30px;
	margin-top: -40px;
	display: flex;
	flex-wrap: wrap;
    @media (max-width: $breakpoint-small-max) {
		margin-left: -18px;
		margin-top: -18px;
    }
    @media (max-width: $breakpoint-xsmall-max) {
		margin-left: -8px;
		margin-top: -8px;
    }
}

.projects-cats-section__cell {
	padding-top: 40px;
	padding-left: 30px;
	width: 50%;
    @media (max-width: $breakpoint-small-max) {
		padding-top: 18px;
		padding-left: 18px;
    }
    @media (max-width: $breakpoint-xsmall-max) {
		padding-top: 8px;
		padding-left: 8px;
		width: 100%;
    }
}

.works-cats-section {
	background: url('../img/bg-projects-cats-section.jpg') no-repeat 50% 50%;
	background-size: cover;
	padding-top: 54px;
	padding-bottom: 54px;
}

.works-cats-section__title {
	color: #ffffff;
	font-size: 60px;
	font-weight: 700;
	text-transform: uppercase;
	font-family: "Next Art", sans-serif;
	letter-spacing: 1.56px;
	margin: 0 0 50px;
	text-align: center;
	span {
		background-color: rgba(28, 30, 33, 0.5);
		padding: 0 5px;
	}
	@media (max-width: $breakpoint-small-max) {
			font-size: 28px;
			letter-spacing: 0.47px;
	}
	@media (max-width: $breakpoint-xsmall-max) {
			font-size: 32px;
			letter-spacing: 3.2px;
	}
}

.works-cats-section__items {
	display: flex;
	justify-content: center;
	align-items: center;
}

.works-cats-section__item {
	color: #ffffff;
	font-family: "Next Art", sans-serif;
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.96px;
	text-decoration: none;
	line-height: 42px;
	padding: 0 5px;
	background: #ed3947;
	margin: 0 33px;
	&:hover {
		background: #f9152e;
	}
}

.works-section {

}

.works-item {
	padding-bottom: 15px;
	border-bottom: 1px solid #dddddd;
	margin-top: 50px;
}

.works-item__title {
	color: #202021;
	font-family: "Next Art", sans-serif;
	font-size: 30px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	margin-bottom: 30px;
}

.works-item__grid {
	display: flex;
	flex-wrap: wrap;
	margin-left: -42px;
}

.works-item__cell {
	padding-left: 42px;
	width: 50%;
}

.works-item-object {
	display: flex;
	align-items: center;
	padding: 12px 0;
	padding-left: 46px;
	line-height: 1;
	border-top: 1px solid #dddddd;
	position: relative;
	&::before {
		content: '';
		position: absolute;
		left: 10px;
		top: 50%;
		transform: translateY(-50%);
		width: 25px;
		height: 25px;
		background: url('../img/icon-apartments.svg') no-repeat 50% 50%;
	}
}

.works-item-object__label {
	color: #4d4d4d;
	font-size: 18px;
	font-weight: 700;
	width: 98px;
}

.works-item-object__value {
	color: #2a2c2f;
	font-family: "Next Art", sans-serif;
	font-size: 16px;
	font-weight: 700;
	letter-spacing: -0.4px;
}

.works-item-info {
	padding-left: 46px;
	padding-top: 11px;
	padding-bottom: 14px;
	border-top: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
}

.works-item-info__title {
	color: #323232;
	font-size: 16px;
	font-weight: 700;
	line-height: 1;
	margin-bottom: 12px;
}

.works-item-info__row {
	display: flex;
	align-items: center;
	margin-top: 6px;
	line-height: 1;
}

.works-item-info__label {
	color: #646464;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 0.4px;
	width: 118px;
}

.works-item-info__area {
	background-color: #f2f2f2;
	color: #636363;
	font-size: 24px;
	font-weight: 700;
	line-height: 1;
	padding: 0 5px;
	span {
		font-size: 14px;
	}
}

.works-item-info__value {
	color: #646464;
	font-size: 16px;
	font-weight: 700;
	letter-spacing: 0.4px;
}

.works-item-deadline {
	position: relative;
	padding-left: 46px;
	border-bottom: 1px solid #dddddd;
	display: flex;
	align-items: center;
	padding-top: 14px;
	padding-bottom: 11px;
	line-height: 1;
	&::before {
		content: '';
		position: absolute;
		left: 15px;
		top: 50%;
		transform: translateY(-50%);
		width: 15px;
		height: 16px;
		background: url('../img/icon-calendar.svg') no-repeat 50% 50%;
	}
}

.works-item-deadline__label {
	color: #4d4d4d;
	font-size: 18px;
	font-weight: 700;
	width: 98px;
}

.works-item-deadline__value {
	color: #2a2c2f;
	font-family: "Next Art", sans-serif;
	font-size: 14px;
	font-weight: 700;
}

.works-item-deadline__link {
	color: #19468b;
	font-family: "Next Art", sans-serif;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	&::after {
		content: '';
		position: relative;
		display: inline-block;
		margin-left: 5px;
		width: 6px;
		height: 6px;
		border-top: 2px solid currentColor;
		border-right: 2px solid currentColor;
		transform: rotate(45deg);
	}
}

.works-item-pricing {
	background: #e8e8e8;
	padding-top: 21px;
	padding-bottom: 19px;
	margin-top: 16px;
	display: flex;
	flex-direction: column;
	align-items: center;
	line-height: 1;
}

.works-item-pricing__title {
	color: #202021;
	font-family: "Next Art", sans-serif;
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.99px;
	text-align: center;
	margin-bottom: 17px;
}

.works-item-pricing__text {
	line-height: 26px;
	letter-spacing: 0.09px;
	font-size: 16px;
	margin-bottom: 17px;
}

.works-item-pricing__button {
	color: #ffffff;
	font-family: "Next Art", sans-serif;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.98px;
	line-height: 48px;
	padding: 0 25px;
	border: none;
	border-radius: 24px;
	background: #d52437;
	text-decoration: none;
	&::after {
		content: '';
		position: relative;
		display: inline-block;
		margin-left: 5px;
		width: 6px;
		height: 6px;
		border-top: 2px solid currentColor;
		border-right: 2px solid currentColor;
		transform: rotate(45deg);
	}
	&:hover {
		background: #f9152e;
	}
}

.works-item-images {
	position: relative;
	margin-top: -5px;
	margin-left: -10px;
	&::before {
		content: '';
		width: 262px;
		height: 262px;
		border: 10px solid #c0c0c0;
		opacity: 0.29;
		position: absolute;
		right: -25px;
		bottom: -25px;
	}
	&::after {
		content: '';
		display: table;
		clear: both;
	}
	&.works-item-images_single {
		.works-item-image {
			width: 100%;
		}
	}
}

.works-item-image {
	padding-top: 5px;
	padding-left: 10px;
	width: 25%;
	float: left;
	position: relative;
	.works-item-image__inner {
		padding-bottom: 66%;
	}
	&:nth-child(1) {
		width: 75%;
		.works-item-image__inner {
			padding-bottom: 67.2%;
		}
	}
}

.works-item-image__wrapper {
	padding: 6px;
	outline: 1px solid #f2f2f2;
	&:hover {
		outline: 2px solid #dcdcdc;
	}
}

.works-item-image__inner {
	width: 100%;
	background-size: cover;
	background-position: 50% 50%;
}

.works-item-image__loupe {
	display: none;
}
